/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/*********************************
*  Pallette Colors
**********************************/
/*proposed colour palette*/
/*generic default tone for non interactive elements*/
/*favorite greys for warm interactve elements*/
/* Red Hat toners */
/*Red Hat Official*/
/* Red Hat Apps  - Web Extended */
/*orange (the letter o)*/
/*green*/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* line 4, ../../../app/stylesheets/color-palette.scss */
section.palette div {
  height: 9em;
  width: 9em;
  margin: .5em;
  float: left;
  border-radius: .5em .75em 4em 2em;
  box-shadow: inset 0 1em 1em -0.5em rgba(255, 255, 255, 0.3), 0 0.32em 0.5em rgba(0, 0, 0, 0.07), 0 0.2em 0.2em rgba(0, 0, 0, 0.15), inset 0 -0.15em 3em -0.1em rgba(0, 0, 0, 0.32);
  position: relative;
}

/* line 8, ../../../app/stylesheets/color-palette.scss */
section.palette h2, section.palette h1 {
  text-align: left;
  text-indent: .5em;
  color: #97a1a4;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 2em;
  width: 100%;
  clear: both;
  text-shadow: 0 1px #d0d5d6;
}

/* line 10, ../../../app/stylesheets/color-palette.scss */
section.palette div:after {
  content: "" attr(class) "";
  text-indent: 1em;
  text-align: left;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.152), 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: .5em .275em .91em 0;
  padding: .5em 0;
  display: block;
  box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.15);
  font-family: Overpass, sans;
  margin-top: 1.25em;
  width: 90%;
}

/* line 13, ../../../app/stylesheets/color-palette.scss */
section.palette div:before {
  content: "$";
  position: absolute;
  top: 1.75em;
  text-indent: .45em;
  color: #fff;
  opacity: 0.25;
}

/*proposed colour palette*/
/*generic default tone for non interactive elements*/
/* line 18, ../../../app/stylesheets/color-palette.scss */
.tone {
  background-color: #a7b0b2;
}

/*favorite greys for warm interactve elements*/
/* line 21, ../../../app/stylesheets/color-palette.scss */
.g0 {
  background-color: white;
}

/* line 22, ../../../app/stylesheets/color-palette.scss */
.g1 {
  background-color: #f6f6f6;
}

/* line 23, ../../../app/stylesheets/color-palette.scss */
.g2 {
  background-color: #d7d5cf;
}

/* line 24, ../../../app/stylesheets/color-palette.scss */
.g3 {
  background-color: #bdbab6;
}

/* line 25, ../../../app/stylesheets/color-palette.scss */
.g4 {
  background-color: #9f9d99;
}

/* line 26, ../../../app/stylesheets/color-palette.scss */
.g5 {
  background-color: #565753;
}

/* line 27, ../../../app/stylesheets/color-palette.scss */
.g6 {
  background-color: #333333;
}

/* line 28, ../../../app/stylesheets/color-palette.scss */
.g7 {
  background-color: #222222;
}

/* line 29, ../../../app/stylesheets/color-palette.scss */
.g8 {
  background-color: #111111;
}

/* line 30, ../../../app/stylesheets/color-palette.scss */
.g9 {
  background-color: black;
}

/* Red Hat toners */
/* line 33, ../../../app/stylesheets/color-palette.scss */
.rh-base {
  background-color: #60605b;
}

/* line 34, ../../../app/stylesheets/color-palette.scss */
.rhbase-light {
  background-color: #b6b6b2;
}

/* line 35, ../../../app/stylesheets/color-palette.scss */
.rh-cream {
  background-color: #dedcc1;
}

/*Red Hat Official*/
/* line 38, ../../../app/stylesheets/color-palette.scss */
.rh-red1 {
  background-color: #cc0000;
}

/* line 39, ../../../app/stylesheets/color-palette.scss */
.rh-red2 {
  background-color: #9e292b;
}

/* line 40, ../../../app/stylesheets/color-palette.scss */
.rh-red3 {
  background-color: #781f1c;
}

/* line 42, ../../../app/stylesheets/color-palette.scss */
.rh-blue {
  background-color: #4e9fdd;
}

/* line 43, ../../../app/stylesheets/color-palette.scss */
.rh-lightblue {
  background-color: #bfdce8;
}

/* line 44, ../../../app/stylesheets/color-palette.scss */
.rh-teal {
  background-color: #2c8596;
}

/* line 45, ../../../app/stylesheets/color-palette.scss */
.rh-dark-blue {
  background-color: #003d6e;
}

/* line 46, ../../../app/stylesheets/color-palette.scss */
.rh-lime {
  background-color: #e3e936;
}

/* line 47, ../../../app/stylesheets/color-palette.scss */
.rh-green {
  background-color: #afbf27;
}

/* line 48, ../../../app/stylesheets/color-palette.scss */
.rh-purple {
  background-color: #564979;
}

/* line 49, ../../../app/stylesheets/color-palette.scss */
.rh-orange {
  background-color: #dc9f2e;
}

/* Red Hat Apps  - Web Extended */
/*orange (the letter o)*/
/* line 54, ../../../app/stylesheets/color-palette.scss */
.o7 {
  background-color: #440000;
}

/* line 55, ../../../app/stylesheets/color-palette.scss */
.o6 {
  background-color: #bb3300;
}

/* line 56, ../../../app/stylesheets/color-palette.scss */
.o5 {
  background-color: #cc4400;
}

/* line 57, ../../../app/stylesheets/color-palette.scss */
.o4 {
  background-color: #ee7700;
}

/* line 58, ../../../app/stylesheets/color-palette.scss */
.o3 {
  background-color: #ffaa00;
}

/* line 59, ../../../app/stylesheets/color-palette.scss */
.o2 {
  background-color: #ffcc33;
}

/* line 60, ../../../app/stylesheets/color-palette.scss */
.o1 {
  background-color: #ffeeaa;
}

/*green*/
/* line 63, ../../../app/stylesheets/color-palette.scss */
.link-light {
  background-color: #3399ff;
}

/* line 64, ../../../app/stylesheets/color-palette.scss */
.link {
  background-color: #0055ff;
}

/* line 65, ../../../app/stylesheets/color-palette.scss */
.link-dark {
  background-color: #003399;
}

/* line 66, ../../../app/stylesheets/color-palette.scss */
.green1 {
  background-color: #a3d541;
}

/* line 67, ../../../app/stylesheets/color-palette.scss */
.green2 {
  background-color: #57a81c;
}

/* line 68, ../../../app/stylesheets/color-palette.scss */
.green3 {
  background-color: #286200;
}
