@charset "UTF-8";
/* line 17, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../app/stylesheets/converge-ui/utils.scss */
.fr {
  float: right;
}

/* line 5, ../../../app/stylesheets/converge-ui/utils.scss */
.fl {
  float: left;
}

/* Primary Katello ID */
/* all selected items */
/* default links */
/* unfocused tabs */
/* list items prelight state */
/* background for header */
/* background for tabs on header */
/* this needs to work for converge-ui */
/* line 21, ../../../app/stylesheets/converge-ui/_sprites.scss */
[class$="_icon_grey"],
[class$="_icon_black"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url('/images/embed/icons/action-icons.png');
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

/* line 33, ../../../app/stylesheets/converge-ui/_sprites.scss */
.search_icon_white {
  background-position: 0 0;
}

/* line 34, ../../../app/stylesheets/converge-ui/_sprites.scss */
.edit_icon_black {
  background-position: -16px -16px;
}

/* line 35, ../../../app/stylesheets/converge-ui/_sprites.scss */
.x_icon_grey {
  background-position: -32px 0px;
}

/* line 36, ../../../app/stylesheets/converge-ui/_sprites.scss */
.x_icon_black {
  background-position: -32px -16px;
}

/* line 37, ../../../app/stylesheets/converge-ui/_sprites.scss */
.add_icon_black {
  background-position: -48px -16px;
}

/* line 38, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gears_icon_black {
  background-position: -64px -16px;
}

/* line 39, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gears_icon_grey {
  background-position: -64px 0px;
}

/* line 40, ../../../app/stylesheets/converge-ui/_sprites.scss */
.lock_icon_grey {
  background-position: -96px 0px;
}

/* line 41, ../../../app/stylesheets/converge-ui/_sprites.scss */
.lock_icon_black {
  background-position: -96px -16px;
}

/* line 42, ../../../app/stylesheets/converge-ui/_sprites.scss */
.circle-x_icon_black {
  background-position: -160px -16px;
}

/* line 43, ../../../app/stylesheets/converge-ui/_sprites.scss */
.circle-x_icon_grey {
  background-position: -160px 0px;
}

/* line 44, ../../../app/stylesheets/converge-ui/_sprites.scss */
.play_icon_black {
  background-position: -176px -16px;
}

/* line 45, ../../../app/stylesheets/converge-ui/_sprites.scss */
.play_icon_grey {
  background-position: -176px 0;
}

/* line 46, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details_icon_grey {
  background-position: -256px 0px;
}

/* line 47, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details_icon_black {
  background-position: -256px -16px;
}

/* line 48, ../../../app/stylesheets/converge-ui/_sprites.scss */
.comp_icon_black {
  background-position: -320px -16px;
}

/* line 49, ../../../app/stylesheets/converge-ui/_sprites.scss */
.help-tip_icon_grey {
  background-position: -336px 0px;
}

/* line 50, ../../../app/stylesheets/converge-ui/_sprites.scss */
.help-tip_icon_black {
  background-position: -336px -16px;
}

/* line 51, ../../../app/stylesheets/converge-ui/_sprites.scss */
.warning_icon_triangle {
  background-position: -384px -16px;
}

/* line 52, ../../../app/stylesheets/converge-ui/_sprites.scss */
.error_icon_black {
  background-position: -384px -16px;
}

/* line 53, ../../../app/stylesheets/converge-ui/_sprites.scss */
.plus_icon_black {
  background-position: -400px -16px;
}

/* line 54, ../../../app/stylesheets/converge-ui/_sprites.scss */
.bug_icon_black {
  background-position: -416px -16px;
}

/* line 55, ../../../app/stylesheets/converge-ui/_sprites.scss */
.shield_icon_black {
  background-position: -432px -16px;
}

/* line 56, ../../../app/stylesheets/converge-ui/_sprites.scss */
.check_icon_black {
  background-position: -448px -16px;
}

/* line 57, ../../../app/stylesheets/converge-ui/_sprites.scss */
.clock_icon_black {
  background-position: -464px -16px;
}

/* line 58, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gear_icon {
  background-position: -480px 0px;
}

/* line 59, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gear_icon-dark {
  background-position: -480px -16px;
}

/* line 60, ../../../app/stylesheets/converge-ui/_sprites.scss */
.download_icon_black {
  background-position: -513px 0px;
}

/* line 61, ../../../app/stylesheets/converge-ui/_sprites.scss */
.download_icon_grey {
  background-position: -513px -16px;
}

/* line 62, ../../../app/stylesheets/converge-ui/_sprites.scss */
.package_icon_grey {
  background-position: -560px 0px;
}

/* line 63, ../../../app/stylesheets/converge-ui/_sprites.scss */
.package_icon_black {
  background-position: -560px -16px;
}

/* line 64, ../../../app/stylesheets/converge-ui/_sprites.scss */
.erratum_icon_grey {
  background-position: -576px 0px;
}

/* line 65, ../../../app/stylesheets/converge-ui/_sprites.scss */
.erratum_icon_black {
  background-position: -576px -16px;
}

/* line 66, ../../../app/stylesheets/converge-ui/_sprites.scss */
.system_group_icon_grey {
  background-position: -590px 0px;
}

/* line 67, ../../../app/stylesheets/converge-ui/_sprites.scss */
.system_group_icon_black {
  background-position: -590px -16px;
}

/* line 147, ../../../app/stylesheets/converge-ui/_sprites.scss */
.errata_icon, .security_icon, .enhancement_icon, .bugzilla_icon, .details-icon, .details-icon-hover, .details-icon-nohover {
  margin-left: 6px;
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 0px;
}

/* line 154, ../../../app/stylesheets/converge-ui/_sprites.scss */
.security_icon {
  background: url('/images/embed/icons/action-icons.png') -432px -16px no-repeat;
}

/* line 158, ../../../app/stylesheets/converge-ui/_sprites.scss */
.enhancement_icon {
  background: url('/images/embed/icons/action-icons.png') -400px -16px no-repeat;
}

/* line 162, ../../../app/stylesheets/converge-ui/_sprites.scss */
.bugzilla_icon {
  background: url('/images/embed/icons/action-icons.png') -416px -16px no-repeat;
}

/* line 166, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon {
  background: url('/images/embed/icons/action-icons.png') -256px 0px no-repeat;
  float: right;
}
/* line 170, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon:hover {
  background: url('/images/embed/icons/action-icons.png') -256px -16px no-repeat;
}

/* line 172, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon-hover {
  background: url('/images/embed/icons/action-icons.png') -256px -16px no-repeat;
}

/* line 176, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon-nohover {
  background: url('/images/embed/icons/action-icons.png') -256px 0px no-repeat;
}

/* line 1, ../../../app/stylesheets/converge-ui/utils.scss */
.fr {
  float: right;
}

/* line 5, ../../../app/stylesheets/converge-ui/utils.scss */
.fl {
  float: left;
}

/* Primary Katello ID */
/* all selected items */
/* default links */
/* unfocused tabs */
/* list items prelight state */
/* background for header */
/* background for tabs on header */
/* this needs to work for converge-ui */
/* line 21, ../../../app/stylesheets/converge-ui/_sprites.scss */
[class$="_icon_grey"],
[class$="_icon_black"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url('/images/embed/icons/action-icons.png');
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

/* line 33, ../../../app/stylesheets/converge-ui/_sprites.scss */
.search_icon_white {
  background-position: 0 0;
}

/* line 34, ../../../app/stylesheets/converge-ui/_sprites.scss */
.edit_icon_black {
  background-position: -16px -16px;
}

/* line 35, ../../../app/stylesheets/converge-ui/_sprites.scss */
.x_icon_grey {
  background-position: -32px 0px;
}

/* line 36, ../../../app/stylesheets/converge-ui/_sprites.scss */
.x_icon_black {
  background-position: -32px -16px;
}

/* line 37, ../../../app/stylesheets/converge-ui/_sprites.scss */
.add_icon_black {
  background-position: -48px -16px;
}

/* line 38, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gears_icon_black {
  background-position: -64px -16px;
}

/* line 39, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gears_icon_grey {
  background-position: -64px 0px;
}

/* line 40, ../../../app/stylesheets/converge-ui/_sprites.scss */
.lock_icon_grey {
  background-position: -96px 0px;
}

/* line 41, ../../../app/stylesheets/converge-ui/_sprites.scss */
.lock_icon_black {
  background-position: -96px -16px;
}

/* line 42, ../../../app/stylesheets/converge-ui/_sprites.scss */
.circle-x_icon_black {
  background-position: -160px -16px;
}

/* line 43, ../../../app/stylesheets/converge-ui/_sprites.scss */
.circle-x_icon_grey {
  background-position: -160px 0px;
}

/* line 44, ../../../app/stylesheets/converge-ui/_sprites.scss */
.play_icon_black {
  background-position: -176px -16px;
}

/* line 45, ../../../app/stylesheets/converge-ui/_sprites.scss */
.play_icon_grey {
  background-position: -176px 0;
}

/* line 46, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details_icon_grey {
  background-position: -256px 0px;
}

/* line 47, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details_icon_black {
  background-position: -256px -16px;
}

/* line 48, ../../../app/stylesheets/converge-ui/_sprites.scss */
.comp_icon_black {
  background-position: -320px -16px;
}

/* line 49, ../../../app/stylesheets/converge-ui/_sprites.scss */
.help-tip_icon_grey {
  background-position: -336px 0px;
}

/* line 50, ../../../app/stylesheets/converge-ui/_sprites.scss */
.help-tip_icon_black {
  background-position: -336px -16px;
}

/* line 51, ../../../app/stylesheets/converge-ui/_sprites.scss */
.warning_icon_triangle {
  background-position: -384px -16px;
}

/* line 52, ../../../app/stylesheets/converge-ui/_sprites.scss */
.error_icon_black {
  background-position: -384px -16px;
}

/* line 53, ../../../app/stylesheets/converge-ui/_sprites.scss */
.plus_icon_black {
  background-position: -400px -16px;
}

/* line 54, ../../../app/stylesheets/converge-ui/_sprites.scss */
.bug_icon_black {
  background-position: -416px -16px;
}

/* line 55, ../../../app/stylesheets/converge-ui/_sprites.scss */
.shield_icon_black {
  background-position: -432px -16px;
}

/* line 56, ../../../app/stylesheets/converge-ui/_sprites.scss */
.check_icon_black {
  background-position: -448px -16px;
}

/* line 57, ../../../app/stylesheets/converge-ui/_sprites.scss */
.clock_icon_black {
  background-position: -464px -16px;
}

/* line 58, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gear_icon {
  background-position: -480px 0px;
}

/* line 59, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gear_icon-dark {
  background-position: -480px -16px;
}

/* line 60, ../../../app/stylesheets/converge-ui/_sprites.scss */
.download_icon_black {
  background-position: -513px 0px;
}

/* line 61, ../../../app/stylesheets/converge-ui/_sprites.scss */
.download_icon_grey {
  background-position: -513px -16px;
}

/* line 62, ../../../app/stylesheets/converge-ui/_sprites.scss */
.package_icon_grey {
  background-position: -560px 0px;
}

/* line 63, ../../../app/stylesheets/converge-ui/_sprites.scss */
.package_icon_black {
  background-position: -560px -16px;
}

/* line 64, ../../../app/stylesheets/converge-ui/_sprites.scss */
.erratum_icon_grey {
  background-position: -576px 0px;
}

/* line 65, ../../../app/stylesheets/converge-ui/_sprites.scss */
.erratum_icon_black {
  background-position: -576px -16px;
}

/* line 66, ../../../app/stylesheets/converge-ui/_sprites.scss */
.system_group_icon_grey {
  background-position: -590px 0px;
}

/* line 67, ../../../app/stylesheets/converge-ui/_sprites.scss */
.system_group_icon_black {
  background-position: -590px -16px;
}

/* line 147, ../../../app/stylesheets/converge-ui/_sprites.scss */
.errata_icon, .security_icon, .enhancement_icon, .bugzilla_icon, .details-icon, .details-icon-hover, .details-icon-nohover {
  margin-left: 6px;
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 0px;
}

/* line 154, ../../../app/stylesheets/converge-ui/_sprites.scss */
.security_icon {
  background: url('/images/embed/icons/action-icons.png') -432px -16px no-repeat;
}

/* line 158, ../../../app/stylesheets/converge-ui/_sprites.scss */
.enhancement_icon {
  background: url('/images/embed/icons/action-icons.png') -400px -16px no-repeat;
}

/* line 162, ../../../app/stylesheets/converge-ui/_sprites.scss */
.bugzilla_icon {
  background: url('/images/embed/icons/action-icons.png') -416px -16px no-repeat;
}

/* line 166, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon {
  background: url('/images/embed/icons/action-icons.png') -256px 0px no-repeat;
  float: right;
}
/* line 170, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon:hover {
  background: url('/images/embed/icons/action-icons.png') -256px -16px no-repeat;
}

/* line 172, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon-hover {
  background: url('/images/embed/icons/action-icons.png') -256px -16px no-repeat;
}

/* line 176, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon-nohover {
  background: url('/images/embed/icons/action-icons.png') -256px 0px no-repeat;
}

@font-face {
  font-family: 'Overpass';
  src: local("Overpass"), url('/fonts/overpass_regular-web.eot?#iefix') format("eot"), url('/fonts/overpass_regular-web.woff') format("woff"), url('/fonts/overpass_regular-web.ttf') format("truetype"), url('/fonts/overpass_regular-web.svg#webfontLTZe4IYH') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: local("Overpass Bold"), local("OverpassBold"), url('/fonts/overpass_bold-web.eot?#iefix') format("eot"), url('/fonts/overpass_bold-web.woff') format("woff"), url('/fonts/overpass_bold-web.ttf') format("truetype"), url('/fonts/overpass_bold-web.svg#webfontzAU82Ltw') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans"), local("LiberationSans"), local("Liberation-Sans"), url('/fonts/LiberationSans-Regular-webfont.eot?#iefix') format("eot"), url('/fonts/LiberationSans-Regular-webfont.woff') format("woff"), url('/fonts/LiberationSans-Regular-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-Regular-webfont.svg#webfontLfr8h6FA') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans Italic"), local("LiberationSansItalic"), local("Liberation-Sans-Italic"), url('/fonts/LiberationSans-Italic-webfont.woff') format("woff"), url('/fonts/LiberationSans-Italic-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-Italic-webfont.svg#webfont8TmwkzPJ') format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans Bold"), local("LiberationSansBold"), local("Liberation-Sans-Bold"), url('/fonts/LiberationSans-Bold-webfont.woff') format("woff"), url('/fonts/LiberationSans-Bold-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-Bold-webfont.svg#webfontHyWb8e07') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans Bold Italic"), local("LiberationSansBoldItalic"), local("Liberation-Sans-Bold-Italic"), url('/fonts/LiberationSans-BoldItalic-webfont.woff') format("woff"), url('/fonts/LiberationSans-BoldItalic-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-BoldItalic-webfont.svg#webfont8uGO27Bu') format("svg");
  font-weight: bold;
  font-style: italic;
}

/* line 6, ../../../app/stylesheets/converge-ui/_text.scss */
body {
  font: 12px/1.5 "Liberation Sans", sans-serif;
  color: #1a1a1a;
}

/* line 11, ../../../app/stylesheets/converge-ui/_text.scss */
h1 {
  font-size: 180%;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 15, ../../../app/stylesheets/converge-ui/_text.scss */
h2 {
  font-size: 170%;
}

/* line 16, ../../../app/stylesheets/converge-ui/_text.scss */
h3 {
  font-size: 160%;
}

/* line 17, ../../../app/stylesheets/converge-ui/_text.scss */
h4 {
  font-size: 150%;
}

/* line 18, ../../../app/stylesheets/converge-ui/_text.scss */
h5 {
  font-size: 140%;
}

/* line 19, ../../../app/stylesheets/converge-ui/_text.scss */
h1, h2, h3, h4, h5 {
  color: #939292;
  font-family: "Overpass", Interstate, sans-serif;
  font-weight: bold;
  word-wrap: break-word;
}

/* line 25, ../../../app/stylesheets/converge-ui/_text.scss */
li {
  margin-left: 0;
}

/* line 28, ../../../app/stylesheets/converge-ui/_text.scss */
fieldset {
  margin-bottom: 10px;
}

/* line 1, ../../../app/stylesheets/converge-ui/utils.scss */
.fr {
  float: right;
}

/* line 5, ../../../app/stylesheets/converge-ui/utils.scss */
.fl {
  float: left;
}

/* Primary Katello ID */
/* all selected items */
/* default links */
/* unfocused tabs */
/* list items prelight state */
/* background for header */
/* background for tabs on header */
/* this needs to work for converge-ui */
/* line 21, ../../../app/stylesheets/converge-ui/_sprites.scss */
[class$="_icon_grey"],
[class$="_icon_black"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url('/images/embed/icons/action-icons.png');
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

/* line 33, ../../../app/stylesheets/converge-ui/_sprites.scss */
.search_icon_white {
  background-position: 0 0;
}

/* line 34, ../../../app/stylesheets/converge-ui/_sprites.scss */
.edit_icon_black {
  background-position: -16px -16px;
}

/* line 35, ../../../app/stylesheets/converge-ui/_sprites.scss */
.x_icon_grey {
  background-position: -32px 0px;
}

/* line 36, ../../../app/stylesheets/converge-ui/_sprites.scss */
.x_icon_black {
  background-position: -32px -16px;
}

/* line 37, ../../../app/stylesheets/converge-ui/_sprites.scss */
.add_icon_black {
  background-position: -48px -16px;
}

/* line 38, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gears_icon_black {
  background-position: -64px -16px;
}

/* line 39, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gears_icon_grey {
  background-position: -64px 0px;
}

/* line 40, ../../../app/stylesheets/converge-ui/_sprites.scss */
.lock_icon_grey {
  background-position: -96px 0px;
}

/* line 41, ../../../app/stylesheets/converge-ui/_sprites.scss */
.lock_icon_black {
  background-position: -96px -16px;
}

/* line 42, ../../../app/stylesheets/converge-ui/_sprites.scss */
.circle-x_icon_black {
  background-position: -160px -16px;
}

/* line 43, ../../../app/stylesheets/converge-ui/_sprites.scss */
.circle-x_icon_grey {
  background-position: -160px 0px;
}

/* line 44, ../../../app/stylesheets/converge-ui/_sprites.scss */
.play_icon_black {
  background-position: -176px -16px;
}

/* line 45, ../../../app/stylesheets/converge-ui/_sprites.scss */
.play_icon_grey {
  background-position: -176px 0;
}

/* line 46, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details_icon_grey {
  background-position: -256px 0px;
}

/* line 47, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details_icon_black {
  background-position: -256px -16px;
}

/* line 48, ../../../app/stylesheets/converge-ui/_sprites.scss */
.comp_icon_black {
  background-position: -320px -16px;
}

/* line 49, ../../../app/stylesheets/converge-ui/_sprites.scss */
.help-tip_icon_grey {
  background-position: -336px 0px;
}

/* line 50, ../../../app/stylesheets/converge-ui/_sprites.scss */
.help-tip_icon_black {
  background-position: -336px -16px;
}

/* line 51, ../../../app/stylesheets/converge-ui/_sprites.scss */
.warning_icon_triangle {
  background-position: -384px -16px;
}

/* line 52, ../../../app/stylesheets/converge-ui/_sprites.scss */
.error_icon_black {
  background-position: -384px -16px;
}

/* line 53, ../../../app/stylesheets/converge-ui/_sprites.scss */
.plus_icon_black {
  background-position: -400px -16px;
}

/* line 54, ../../../app/stylesheets/converge-ui/_sprites.scss */
.bug_icon_black {
  background-position: -416px -16px;
}

/* line 55, ../../../app/stylesheets/converge-ui/_sprites.scss */
.shield_icon_black {
  background-position: -432px -16px;
}

/* line 56, ../../../app/stylesheets/converge-ui/_sprites.scss */
.check_icon_black {
  background-position: -448px -16px;
}

/* line 57, ../../../app/stylesheets/converge-ui/_sprites.scss */
.clock_icon_black {
  background-position: -464px -16px;
}

/* line 58, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gear_icon {
  background-position: -480px 0px;
}

/* line 59, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gear_icon-dark {
  background-position: -480px -16px;
}

/* line 60, ../../../app/stylesheets/converge-ui/_sprites.scss */
.download_icon_black {
  background-position: -513px 0px;
}

/* line 61, ../../../app/stylesheets/converge-ui/_sprites.scss */
.download_icon_grey {
  background-position: -513px -16px;
}

/* line 62, ../../../app/stylesheets/converge-ui/_sprites.scss */
.package_icon_grey {
  background-position: -560px 0px;
}

/* line 63, ../../../app/stylesheets/converge-ui/_sprites.scss */
.package_icon_black {
  background-position: -560px -16px;
}

/* line 64, ../../../app/stylesheets/converge-ui/_sprites.scss */
.erratum_icon_grey {
  background-position: -576px 0px;
}

/* line 65, ../../../app/stylesheets/converge-ui/_sprites.scss */
.erratum_icon_black {
  background-position: -576px -16px;
}

/* line 66, ../../../app/stylesheets/converge-ui/_sprites.scss */
.system_group_icon_grey {
  background-position: -590px 0px;
}

/* line 67, ../../../app/stylesheets/converge-ui/_sprites.scss */
.system_group_icon_black {
  background-position: -590px -16px;
}

/* line 147, ../../../app/stylesheets/converge-ui/_sprites.scss */
.errata_icon, .security_icon, .enhancement_icon, .bugzilla_icon, .details-icon, .details-icon-hover, .details-icon-nohover {
  margin-left: 6px;
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 0px;
}

/* line 154, ../../../app/stylesheets/converge-ui/_sprites.scss */
.security_icon {
  background: url('/images/embed/icons/action-icons.png') -432px -16px no-repeat;
}

/* line 158, ../../../app/stylesheets/converge-ui/_sprites.scss */
.enhancement_icon {
  background: url('/images/embed/icons/action-icons.png') -400px -16px no-repeat;
}

/* line 162, ../../../app/stylesheets/converge-ui/_sprites.scss */
.bugzilla_icon {
  background: url('/images/embed/icons/action-icons.png') -416px -16px no-repeat;
}

/* line 166, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon {
  background: url('/images/embed/icons/action-icons.png') -256px 0px no-repeat;
  float: right;
}
/* line 170, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon:hover {
  background: url('/images/embed/icons/action-icons.png') -256px -16px no-repeat;
}

/* line 172, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon-hover {
  background: url('/images/embed/icons/action-icons.png') -256px -16px no-repeat;
}

/* line 176, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon-nohover {
  background: url('/images/embed/icons/action-icons.png') -256px 0px no-repeat;
}

/* line 4, ../../../app/stylesheets/converge-ui/header.scss */
.centered {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

/* line 11, ../../../app/stylesheets/converge-ui/header.scss */
header#header {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009dcc), color-stop(50%, #009dcc), color-stop(100%, #006f8f));
  background: -webkit-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -moz-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -o-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -ms-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  height: 85px;
  border-top: 4px solid #01536d;
  border-bottom: 4px solid #d9d9d9;
  position: relative;
  font-family: "Overpass",Interstate,sans-serif;
}
/* line 18, ../../../app/stylesheets/converge-ui/header.scss */
header#header h1 {
  position: absolute;
  bottom: 25px;
  left: 15px;
  display: inline-block;
  margin: 0;
  font-size: inherit;
  text-indent: -5555px;
}
/* line 27, ../../../app/stylesheets/converge-ui/header.scss */
header#header .logo {
  background: url('/images/embed/logo.png') no-repeat 0 0 transparent;
  text-indent: -5555px;
  width: 170px;
  height: 30px;
  bottom: 25px;
  left: 15px;
  position: absolute;
  display: block;
}
/* line 37, ../../../app/stylesheets/converge-ui/header.scss */
header#header #loading {
  display: none;
  bottom: 27px;
  display: none;
  height: 22px;
  padding: 0;
  position: absolute;
  width: 22px;
  z-index: 100;
  background: url('/images/embed/icons/spinner_head.gif') no-repeat 0 0 transparent;
}
/* line 48, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav {
  border: 1px solid rgba(11, 15, 16, 0.55);
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  white-space: nowrap;
  position: absolute;
  bottom: 0px;
  left: 218px;
  margin-right: 0px;
  z-index: 2;
}
/* line 59, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul {
  position: relative;
  overflow: auto;
  border-radius: 3px 3px 0 0;
  border: 1px solid rgba(205, 206, 208, 0.4);
  border-bottom: none;
}
/* line 66, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul li {
  display: block;
  float: left;
  position: relative;
}
/* line 71, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul li a {
  display: block;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-weight: bold;
  color: #f1f1f1;
  padding: 0 13px;
  font-size: 13px;
  background-color: rgba(25, 25, 30, 0.4);
  height: 28px;
  line-height: 28px;
  border-right: 3px solid rgba(205, 206, 208, 0.4);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
/* line 91, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul li a.selected {
  color: #50505a;
  position: relative;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #ebebeb), color-stop(100%, #d9d9d9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #ebebeb 50%, #d9d9d9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 );
  /* IE6-9 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
/* line 95, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul li a.selected:hover {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #ebebeb), color-stop(100%, #d9d9d9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #ebebeb 50%, #d9d9d9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 );
  /* IE6-9 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  color: #37373E;
}
/* line 101, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul li a:hover {
  background: rgba(25, 25, 30, 0.15);
  color: #f1f1f1;
}
/* line 107, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul li:first-child > a {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
/* line 113, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul li:last-child > a {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
  border-right: none;
}
/* line 123, ../../../app/stylesheets/converge-ui/header.scss */
header#header #widget-container {
  position: absolute;
  top: 22px;
  right: 15px;
}
/* line 127, ../../../app/stylesheets/converge-ui/header.scss */
header#header #widget-container a {
  color: white;
}
/* line 128, ../../../app/stylesheets/converge-ui/header.scss */
header#header #widget-container ul {
  float: left;
}
/* line 131, ../../../app/stylesheets/converge-ui/header.scss */
header#header #widget-container ul li ul {
  display: none;
  position: absolute;
  left: 0px;
  background-color: #0A6684;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -moz-box-shadow: 2px, 2px, 2px, rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px, 2px, 2px, rgba(0, 0, 0, 0.4);
  -o-box-shadow: 2px, 2px, 2px, rgba(0, 0, 0, 0.4);
  box-shadow: 2px, 2px, 2px, rgba(0, 0, 0, 0.4);
  min-width: 4.2em;
  padding: 2px 12px;
  position: absolute;
  text-align: left;
  top: 16px;
  z-index: 99;
}
/* line 145, ../../../app/stylesheets/converge-ui/header.scss */
header#header #widget-container ul li .arrow_icon_menu {
  height: 11px;
  width: 13px;
  background: url('/images/embed/icons/arrow_icon.png') no-repeat 0 0;
  float: right;
  margin: 4px 0 0 0;
}
/* line 151, ../../../app/stylesheets/converge-ui/header.scss */
header#header #widget-container ul li .arrow_icon_menu:hover {
  background: url('/images/embed/icons/arrow_icon.png') no-repeat 0 0;
  background-position: 0 -13px;
}
/* line 160, ../../../app/stylesheets/converge-ui/header.scss */
header#header .header-widget {
  background-color: rgba(25, 25, 30, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 11px;
  color: #FFF;
  text-align: center;
  margin-right: 8px;
  padding: 2px 6px;
  text-decoration: none;
  float: left;
}

/* line 1, ../../../app/stylesheets/converge-ui/utils.scss */
.fr {
  float: right;
}

/* line 5, ../../../app/stylesheets/converge-ui/utils.scss */
.fl {
  float: left;
}

/* Primary Katello ID */
/* all selected items */
/* default links */
/* unfocused tabs */
/* list items prelight state */
/* background for header */
/* background for tabs on header */
/* this needs to work for converge-ui */
/* line 21, ../../../app/stylesheets/converge-ui/_sprites.scss */
[class$="_icon_grey"],
[class$="_icon_black"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url('/images/embed/icons/action-icons.png');
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

/* line 33, ../../../app/stylesheets/converge-ui/_sprites.scss */
.search_icon_white {
  background-position: 0 0;
}

/* line 34, ../../../app/stylesheets/converge-ui/_sprites.scss */
.edit_icon_black {
  background-position: -16px -16px;
}

/* line 35, ../../../app/stylesheets/converge-ui/_sprites.scss */
.x_icon_grey {
  background-position: -32px 0px;
}

/* line 36, ../../../app/stylesheets/converge-ui/_sprites.scss */
.x_icon_black {
  background-position: -32px -16px;
}

/* line 37, ../../../app/stylesheets/converge-ui/_sprites.scss */
.add_icon_black {
  background-position: -48px -16px;
}

/* line 38, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gears_icon_black {
  background-position: -64px -16px;
}

/* line 39, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gears_icon_grey {
  background-position: -64px 0px;
}

/* line 40, ../../../app/stylesheets/converge-ui/_sprites.scss */
.lock_icon_grey {
  background-position: -96px 0px;
}

/* line 41, ../../../app/stylesheets/converge-ui/_sprites.scss */
.lock_icon_black {
  background-position: -96px -16px;
}

/* line 42, ../../../app/stylesheets/converge-ui/_sprites.scss */
.circle-x_icon_black {
  background-position: -160px -16px;
}

/* line 43, ../../../app/stylesheets/converge-ui/_sprites.scss */
.circle-x_icon_grey {
  background-position: -160px 0px;
}

/* line 44, ../../../app/stylesheets/converge-ui/_sprites.scss */
.play_icon_black {
  background-position: -176px -16px;
}

/* line 45, ../../../app/stylesheets/converge-ui/_sprites.scss */
.play_icon_grey {
  background-position: -176px 0;
}

/* line 46, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details_icon_grey {
  background-position: -256px 0px;
}

/* line 47, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details_icon_black {
  background-position: -256px -16px;
}

/* line 48, ../../../app/stylesheets/converge-ui/_sprites.scss */
.comp_icon_black {
  background-position: -320px -16px;
}

/* line 49, ../../../app/stylesheets/converge-ui/_sprites.scss */
.help-tip_icon_grey {
  background-position: -336px 0px;
}

/* line 50, ../../../app/stylesheets/converge-ui/_sprites.scss */
.help-tip_icon_black {
  background-position: -336px -16px;
}

/* line 51, ../../../app/stylesheets/converge-ui/_sprites.scss */
.warning_icon_triangle {
  background-position: -384px -16px;
}

/* line 52, ../../../app/stylesheets/converge-ui/_sprites.scss */
.error_icon_black {
  background-position: -384px -16px;
}

/* line 53, ../../../app/stylesheets/converge-ui/_sprites.scss */
.plus_icon_black {
  background-position: -400px -16px;
}

/* line 54, ../../../app/stylesheets/converge-ui/_sprites.scss */
.bug_icon_black {
  background-position: -416px -16px;
}

/* line 55, ../../../app/stylesheets/converge-ui/_sprites.scss */
.shield_icon_black {
  background-position: -432px -16px;
}

/* line 56, ../../../app/stylesheets/converge-ui/_sprites.scss */
.check_icon_black {
  background-position: -448px -16px;
}

/* line 57, ../../../app/stylesheets/converge-ui/_sprites.scss */
.clock_icon_black {
  background-position: -464px -16px;
}

/* line 58, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gear_icon {
  background-position: -480px 0px;
}

/* line 59, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gear_icon-dark {
  background-position: -480px -16px;
}

/* line 60, ../../../app/stylesheets/converge-ui/_sprites.scss */
.download_icon_black {
  background-position: -513px 0px;
}

/* line 61, ../../../app/stylesheets/converge-ui/_sprites.scss */
.download_icon_grey {
  background-position: -513px -16px;
}

/* line 62, ../../../app/stylesheets/converge-ui/_sprites.scss */
.package_icon_grey {
  background-position: -560px 0px;
}

/* line 63, ../../../app/stylesheets/converge-ui/_sprites.scss */
.package_icon_black {
  background-position: -560px -16px;
}

/* line 64, ../../../app/stylesheets/converge-ui/_sprites.scss */
.erratum_icon_grey {
  background-position: -576px 0px;
}

/* line 65, ../../../app/stylesheets/converge-ui/_sprites.scss */
.erratum_icon_black {
  background-position: -576px -16px;
}

/* line 66, ../../../app/stylesheets/converge-ui/_sprites.scss */
.system_group_icon_grey {
  background-position: -590px 0px;
}

/* line 67, ../../../app/stylesheets/converge-ui/_sprites.scss */
.system_group_icon_black {
  background-position: -590px -16px;
}

/* line 147, ../../../app/stylesheets/converge-ui/_sprites.scss */
.errata_icon, .security_icon, .enhancement_icon, .bugzilla_icon, .details-icon, .details-icon-hover, .details-icon-nohover {
  margin-left: 6px;
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 0px;
}

/* line 154, ../../../app/stylesheets/converge-ui/_sprites.scss */
.security_icon {
  background: url('/images/embed/icons/action-icons.png') -432px -16px no-repeat;
}

/* line 158, ../../../app/stylesheets/converge-ui/_sprites.scss */
.enhancement_icon {
  background: url('/images/embed/icons/action-icons.png') -400px -16px no-repeat;
}

/* line 162, ../../../app/stylesheets/converge-ui/_sprites.scss */
.bugzilla_icon {
  background: url('/images/embed/icons/action-icons.png') -416px -16px no-repeat;
}

/* line 166, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon {
  background: url('/images/embed/icons/action-icons.png') -256px 0px no-repeat;
  float: right;
}
/* line 170, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon:hover {
  background: url('/images/embed/icons/action-icons.png') -256px -16px no-repeat;
}

/* line 172, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon-hover {
  background: url('/images/embed/icons/action-icons.png') -256px -16px no-repeat;
}

/* line 176, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details-icon-nohover {
  background: url('/images/embed/icons/action-icons.png') -256px 0px no-repeat;
}

/* line 4, ../../../app/stylesheets/converge-ui/footer.scss */
footer {
  min-height: 55px;
  background: #EBEBEB;
  position: relative;
  border-top: 1px solid #f2f2f2;
  clear: both;
  position: relative;
  margin-top: -56px;
  /* negative value of footer height */
  height: 55px;
}
/* line 14, ../../../app/stylesheets/converge-ui/footer.scss */
footer span {
  width: 74px;
  position: absolute;
  left: 30px;
  bottom: 16px;
}
/* line 21, ../../../app/stylesheets/converge-ui/footer.scss */
footer p.copyright {
  position: relative;
  bottom: -16px;
  text-align: center;
}
/* line 27, ../../../app/stylesheets/converge-ui/footer.scss */
footer ul {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 16px;
}
/* line 33, ../../../app/stylesheets/converge-ui/footer.scss */
footer ul li {
  margin-right: 20px;
  float: left;
}
/* line 37, ../../../app/stylesheets/converge-ui/footer.scss */
footer ul li a {
  font-size: 11px;
  color: #50505a;
}
/* line 43, ../../../app/stylesheets/converge-ui/footer.scss */
footer ul:last-child {
  margin-right: 30px;
}
/* line 48, ../../../app/stylesheets/converge-ui/footer.scss */
footer .versioning {
  position: relative;
  bottom: -18px;
  text-align: center;
}

/* line 7, ../../../app/stylesheets/converge-ui/_shell.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../../../app/stylesheets/converge-ui/_shell.scss */
body {
  background-color: #d9d9d9;
}
/* line 11, ../../../app/stylesheets/converge-ui/_shell.scss */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/* line 20, ../../../app/stylesheets/converge-ui/_shell.scss */
body, html {
  height: 100%;
  font-family: "Liberation Sans", sans-serif;
  font-size: 12px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5;
}

/* line 32, ../../../app/stylesheets/converge-ui/_shell.scss */
html {
  /*forcing scrl*/
  height: 100%;
  margin-bottom: 1px !important;
  overflow-y: scroll;
}

/* line 38, ../../../app/stylesheets/converge-ui/_shell.scss */
#wrapper {
  min-height: 100%;
}

/* line 42, ../../../app/stylesheets/converge-ui/_shell.scss */
#maincontent {
  overflow: auto;
  padding-bottom: 65px;
}
/* line 46, ../../../app/stylesheets/converge-ui/_shell.scss */
#maincontent section.maincontent {
  background-color: white;
  min-height: 20em;
  margin: 0 auto 5px;
  width: 960px;
  -moz-box-shadow: 0, 1px, 5px, rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0, 1px, 5px, rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0, 1px, 5px, rgba(0, 0, 0, 0.6);
  box-shadow: 0, 1px, 5px, rgba(0, 0, 0, 0.6);
}
/* line 53, ../../../app/stylesheets/converge-ui/_shell.scss */
#maincontent section.maincontent h1 {
  color: transparent;
  padding-top: 3em;
  color: #ddd;
  text-align: center;
  font-weight: normal;
  text-transform: capitalize;
}

/* microclearfix on all areas */
/* line 66, ../../../app/stylesheets/converge-ui/_shell.scss */
section:before, section:after, article:before, article:after {
  content: "";
  display: table;
}

/* line 71, ../../../app/stylesheets/converge-ui/_shell.scss */
article:after, section:after {
  clear: both;
}

@media only screen and (max-width: 52em) {
  /* line 4, ../../../app/stylesheets/converge-ui/media.scss */
  header {
    height: 8em;
  }
  /* line 7, ../../../app/stylesheets/converge-ui/media.scss */
  header h1 {
    text-indent: 1em;
  }
  /* line 8, ../../../app/stylesheets/converge-ui/media.scss */
  header article {
    padding-left: 0em;
  }
  /* line 11, ../../../app/stylesheets/converge-ui/media.scss */
  header article section:last-child {
    padding-right: 0.25em;
  }
  /* line 14, ../../../app/stylesheets/converge-ui/media.scss */
  header article section:last-child a {
    margin-right: 0em;
  }
  /* line 17, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav {
    margin-top: 4em;
    width: 100%;
  }
  /* line 22, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li {
    width: 20%;
    padding: 0em;
  }
  /* line 26, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li:nth-child(1) {
    width: 16%;
  }
  /* line 27, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li:nth-child(2) {
    width: 29%;
  }
  /* line 28, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li:nth-child(3) {
    width: 15%;
  }
  /* line 29, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li:nth-child(4) {
    width: 20%;
  }
  /* line 30, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li:nth-child(5) {
    width: 20%;
  }
  /* line 31, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li:last-child ul {
    margin-left: -6.5em !important;
  }
  /* line 32, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li a {
    padding-left: .5em;
    padding-right: .5em;
  }
}
@media only screen and (max-width: 49em) {
  /* line 41, ../../../app/stylesheets/converge-ui/media.scss */
  body > header h1 {
    text-indent: 0em;
  }
}
@media only screen and (max-width: 44em) {
  /* line 44, ../../../app/stylesheets/converge-ui/media.scss */
  header nav#appnav {
    min-width: 38em !important;
    white-space: nowrap;
  }
}
