/* line 17, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Primary Katello ID */
/* all selected items */
/* default links */
/* unfocused tabs */
/* list items prelight state */
/* Primary Katello ID */
/* all selected items */
/* default links */
/* unfocused tabs */
/* list items prelight state */
/* line 6, ../../../app/stylesheets/converge-ui/text.scss */
body {
  font: 12px/1.5 "Liberation Sans", sans-serif;
  color: #1a1a1a;
}

/* line 11, ../../../app/stylesheets/converge-ui/text.scss */
h1 {
  font-size: 180%;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 15, ../../../app/stylesheets/converge-ui/text.scss */
h2 {
  font-size: 170%;
}

/* line 16, ../../../app/stylesheets/converge-ui/text.scss */
h3 {
  font-size: 160%;
}

/* line 17, ../../../app/stylesheets/converge-ui/text.scss */
h4 {
  font-size: 150%;
}

/* line 18, ../../../app/stylesheets/converge-ui/text.scss */
h5 {
  font-size: 140%;
}

/* line 19, ../../../app/stylesheets/converge-ui/text.scss */
h1, h2, h3, h4, h5 {
  color: #939292;
  font-family: "Overpass", Interstate, sans-serif;
  margin-top: 1em;
  font-weight: bold;
  word-wrap: break-word;
}

/* line 26, ../../../app/stylesheets/converge-ui/text.scss */
li {
  margin-left: 0;
}

/* line 29, ../../../app/stylesheets/converge-ui/text.scss */
h1, h2, h3, h4, h5, p {
  margin: 0.5em 0;
}

/* line 32, ../../../app/stylesheets/converge-ui/text.scss */
fieldset {
  margin-bottom: 10px;
}

/* line 5, ../../../app/stylesheets/converge-ui/_sprites.scss */
[class$="_icon-grey"],
[class$="_icon-black"],
[class*="_icon"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../../images/converge-ui/icons/action-icons.png");
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

/* line 17, ../../../app/stylesheets/converge-ui/_sprites.scss */
.search_icon-white {
  background-position: 0 0;
}

/* line 18, ../../../app/stylesheets/converge-ui/_sprites.scss */
.edit_icon-black {
  background-position: -16px -16px;
}

/* line 19, ../../../app/stylesheets/converge-ui/_sprites.scss */
.x_icon-grey {
  background-position: -32px 0px;
}

/* line 20, ../../../app/stylesheets/converge-ui/_sprites.scss */
.x_icon-black {
  background-position: -32px -16px;
}

/* line 21, ../../../app/stylesheets/converge-ui/_sprites.scss */
.add_icon-black {
  background-position: -48px -16px;
}

/* line 22, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gears_icon-black {
  background-position: -64px -16px;
}

/* line 23, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gears_icon-grey {
  background-position: -64px 0px;
}

/* line 24, ../../../app/stylesheets/converge-ui/_sprites.scss */
.lock_icon-grey {
  background-position: -96px 0px;
}

/* line 25, ../../../app/stylesheets/converge-ui/_sprites.scss */
.lock_icon-black {
  background-position: -96px -16px;
}

/* line 26, ../../../app/stylesheets/converge-ui/_sprites.scss */
.circle-x_icon-black {
  background-position: -160px -16px;
}

/* line 27, ../../../app/stylesheets/converge-ui/_sprites.scss */
.circle-x_icon-grey {
  background-position: -160px 0px;
}

/* line 28, ../../../app/stylesheets/converge-ui/_sprites.scss */
.play_icon-black {
  background-position: -176px -16px;
}

/* line 29, ../../../app/stylesheets/converge-ui/_sprites.scss */
.play_icon-grey {
  background-position: -176px 0;
}

/* line 30, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details_icon-grey {
  background-position: -256px 0px;
}

/* line 31, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details_icon-black {
  background-position: -256px -16px;
}

/* line 32, ../../../app/stylesheets/converge-ui/_sprites.scss */
.comp_icon-black {
  background-position: -320px -16px;
}

/* line 33, ../../../app/stylesheets/converge-ui/_sprites.scss */
.help-tip_icon-grey {
  background-position: -336px 0px;
}

/* line 34, ../../../app/stylesheets/converge-ui/_sprites.scss */
.help-tip_icon-black {
  background-position: -336px -16px;
}

/* line 35, ../../../app/stylesheets/converge-ui/_sprites.scss */
.warning_icon-triangle {
  background-position: -384px -16px;
}

/* line 36, ../../../app/stylesheets/converge-ui/_sprites.scss */
.error_icon-black {
  background-position: -384px -16px;
}

/* line 37, ../../../app/stylesheets/converge-ui/_sprites.scss */
.plus_icon-black {
  background-position: -400px -16px;
}

/* line 38, ../../../app/stylesheets/converge-ui/_sprites.scss */
.bug_icon-black {
  background-position: -416px -16px;
}

/* line 39, ../../../app/stylesheets/converge-ui/_sprites.scss */
.shield_icon-black {
  background-position: -432px -16px;
}

/* line 40, ../../../app/stylesheets/converge-ui/_sprites.scss */
.check_icon-black {
  background-position: -448px -16px;
}

/* line 41, ../../../app/stylesheets/converge-ui/_sprites.scss */
.clock_icon-black {
  background-position: -464px -16px;
}

/* line 42, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gear_icon {
  background-position: -480px 0px;
}

/* line 43, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gear_icon-dark {
  background-position: -480px -16px;
}

/* line 44, ../../../app/stylesheets/converge-ui/_sprites.scss */
.download_icon-black {
  background-position: -513px 0px;
}

/* line 45, ../../../app/stylesheets/converge-ui/_sprites.scss */
.download_icon-grey {
  background-position: -513px -16px;
}

/* line 46, ../../../app/stylesheets/converge-ui/_sprites.scss */
.package_icon-grey {
  background-position: -560px 0px;
}

/* line 47, ../../../app/stylesheets/converge-ui/_sprites.scss */
.package_icon-black {
  background-position: -560px -16px;
}

/* line 48, ../../../app/stylesheets/converge-ui/_sprites.scss */
.erratum_icon-grey {
  background-position: -576px 0px;
}

/* line 49, ../../../app/stylesheets/converge-ui/_sprites.scss */
.erratum_icon-black {
  background-position: -576px -16px;
}

/* line 50, ../../../app/stylesheets/converge-ui/_sprites.scss */
.system_group_icon-grey {
  background-position: -590px 0px;
}

/* line 51, ../../../app/stylesheets/converge-ui/_sprites.scss */
.system_group_icon-black {
  background-position: -590px -16px;
}

/* line 1, ../../../app/stylesheets/converge-ui/utils.scss */
.right {
  float: right;
}

/* line 5, ../../../app/stylesheets/converge-ui/utils.scss */
.left {
  float: left;
}

/* line 10, ../../../app/stylesheets/converge-ui/shell.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 12, ../../../app/stylesheets/converge-ui/shell.scss */
body {
  background-color: #d9d9d9;
}
/* line 14, ../../../app/stylesheets/converge-ui/shell.scss */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/* line 23, ../../../app/stylesheets/converge-ui/shell.scss */
body, html {
  height: 100%;
  font-family: "Liberation Sans", sans-serif;
  font-size: 12px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5;
}

/* line 35, ../../../app/stylesheets/converge-ui/shell.scss */
html {
  /*forcing scrl*/
  height: 100%;
  margin-bottom: 1px !important;
  overflow-y: scroll;
}

/* line 41, ../../../app/stylesheets/converge-ui/shell.scss */
#wrapper {
  min-height: 100%;
  padding-bottom: 10px;
}

/* line 45, ../../../app/stylesheets/converge-ui/shell.scss */
#maincontent {
  overflow: auto;
  padding-bottom: 120px;
}
/* line 48, ../../../app/stylesheets/converge-ui/shell.scss */
#maincontent section.maincontent {
  background-color: white;
  min-height: 20em;
  margin: 0 auto;
  width: 960px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
}
/* line 54, ../../../app/stylesheets/converge-ui/shell.scss */
#maincontent section.maincontent h1 {
  color: transparent;
  padding-top: 3em;
  color: #ddd;
  text-align: center;
  font-weight: normal;
  text-transform: capitalize;
}

/* microclearfix on all areas */
/* line 67, ../../../app/stylesheets/converge-ui/shell.scss */
section:before, section:after, article:before, article:after {
  content: "";
  display: table;
}

/* line 72, ../../../app/stylesheets/converge-ui/shell.scss */
article:after, section:after {
  clear: both;
}

/* line 76, ../../../app/stylesheets/converge-ui/shell.scss */
footer {
  position: relative;
  margin-top: -120px;
  /* negative value of footer height */
  height: 120px;
  clear: both;
  border-top: 1px solid #f2f2f2;
}

/* line 6, ../../../app/stylesheets/converge-ui/header.scss */
.centered {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

/* line 13, ../../../app/stylesheets/converge-ui/header.scss */
header#header {
  background: #009dcc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009dcc), color-stop(50%, #009dcc), color-stop(100%, #006f8f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  /* IE10+ */
  background: linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009dcc', endColorstr='#006f8f',GradientType=0 );
  /* IE6-9 */
  height: 77px;
  border-top: 4px solid #01536d;
  border-bottom: 4px solid #d9d9d9;
  position: relative;
  font-family: "Overpass",Interstate,sans-serif;
}
/* line 21, ../../../app/stylesheets/converge-ui/header.scss */
header#header h1 a {
  position: absolute;
  bottom: 25px;
  left: 15px;
  display: inline-block;
}
/* line 28, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav {
  border: 1px solid rgba(11, 15, 16, 0.55);
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  white-space: nowrap;
  position: absolute;
  bottom: 0px;
  left: 218px;
  margin-right: 138px;
  z-index: 2;
}
/* line 39, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -219px;
  border-radius: 0 0 3px 0;
  width: 218px;
  height: 1px;
  z-index: 4;
  border-bottom: 1px solid rgba(205, 206, 208, 0.4);
  border-right: 1px solid rgba(11, 15, 16, 0.55);
  background: rgba(11, 15, 16, 0.55);
}
/* line 53, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul {
  position: relative;
  overflow: auto;
  border-radius: 3px 3px 0 0;
  border: 1px solid rgba(205, 206, 208, 0.4);
  border-bottom: none;
}
/* line 60, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul li {
  display: block;
  float: left;
  position: relative;
}
/* line 65, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul li a {
  display: block;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-weight: bold;
  color: #f1f1f1;
  padding: 0 13px;
  font-size: 13px;
  background-color: rgba(25, 25, 30, 0.4);
  height: 28px;
  line-height: 28px;
  border-right: 3px solid rgba(205, 206, 208, 0.4);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
/* line 85, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul li a.selected {
  color: #50505a;
  position: relative;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #ebebeb), color-stop(100%, #d9d9d9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #ebebeb 50%, #d9d9d9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 );
  /* IE6-9 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
/* line 101, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul li a:hover {
  background: rgba(25, 25, 30, 0.15);
  color: #f1f1f1;
}
/* line 107, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul li:first-child > a {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
/* line 113, ../../../app/stylesheets/converge-ui/header.scss */
header#header #appnav ul li:last-child > a {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
  border-right: none;
}
/* line 123, ../../../app/stylesheets/converge-ui/header.scss */
header#header #widget-container {
  position: absolute;
  top: 22px;
  right: 30px;
}
/* line 129, ../../../app/stylesheets/converge-ui/header.scss */
header#header .header-widget {
  background-color: rgba(25, 25, 30, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 11px;
  color: #FFF;
  text-align: center;
  margin-right: 8px;
  padding: 2px 6px;
  text-decoration: none;
}

/* line 144, ../../../app/stylesheets/converge-ui/header.scss */
#notifications {
  position: absolute;
  right: 0em;
  min-width: 20em;
  max-width: 30em;
  line-height: 1.5em;
}
/* line 151, ../../../app/stylesheets/converge-ui/header.scss */
#notifications section {
  /*border-radius*/
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  position: relative;
  overflow: visible;
  width: 100%;
  margin: 0em;
  right: 0;
  display: block !important;
  margin-top: 1em;
  padding: 1em;
  top: 0em;
  background-color: #555;
  color: #ddd;
  text-shadow: none;
  text-indent: 0em;
  /*box-shadow*/
  -webkit-box-shadow: 0px 0em 0em 0.1em white, 0px 0.2em 0.5em rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0em 0em 0.1em white, 0px 0.2em 0.5em rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0em 0em 0.1em white, 0px 0.2em 0.5em rgba(0, 0, 0, 0.1);
}
/* line 174, ../../../app/stylesheets/converge-ui/header.scss */
#notifications section:before {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  border-width: 0em .75em .75em .75em;
  border-style: none solid solid solid;
  top: -0.79em;
  right: 6.75em;
  border-color: transparent transparent #fff transparent;
}
/* line 187, ../../../app/stylesheets/converge-ui/header.scss */
#notifications section:after {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  border-width: 0em .75em .75em .75em;
  border-style: none solid solid solid;
  top: -0.7em;
  right: 6.75em;
  border-color: transparent transparent #555 transparent;
}
/* line 200, ../../../app/stylesheets/converge-ui/header.scss */
#notifications section a {
  color: #fff;
}
/* line 202, ../../../app/stylesheets/converge-ui/header.scss */
#notifications section .alert {
  background-color: #a00;
  color: #fff;
  text-shadow: 0 -1px #990000;
  /*box-shadow*/
  -webkit-box-shadow: 0px 0em 0em 0.1em white, 0px 0.2em 0.5em 0.2em rgba(255, 0, 0, 0.21);
  -moz-box-shadow: 0px 0em 0em 0.1em white, 0px 0.2em 0.5em 0.2em rgba(255, 0, 0, 0.21);
  box-shadow: 0px 0em 0em 0.1em white, 0px 0.2em 0.5em 0.2em rgba(255, 0, 0, 0.21);
}
/* line 211, ../../../app/stylesheets/converge-ui/header.scss */
#notifications section .alert:after {
  border-color: transparent transparent #a00 transparent;
}

/* line 1, ../../../app/stylesheets/converge-ui/footer.scss */
footer {
  min-height: 45px;
  background: #EBEBEB;
  position: relative;
}
/* line 6, ../../../app/stylesheets/converge-ui/footer.scss */
footer span {
  width: 74px;
  position: absolute;
  left: 30px;
  bottom: 16px;
}
/* line 13, ../../../app/stylesheets/converge-ui/footer.scss */
footer p.copyright {
  position: relative;
  bottom: -16px;
  text-align: center;
}
/* line 19, ../../../app/stylesheets/converge-ui/footer.scss */
footer ul {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 16px;
}
/* line 25, ../../../app/stylesheets/converge-ui/footer.scss */
footer ul li {
  margin-right: 20px;
  float: left;
}
/* line 29, ../../../app/stylesheets/converge-ui/footer.scss */
footer ul li a {
  font-size: 11px;
  color: #50505a;
}
/* line 35, ../../../app/stylesheets/converge-ui/footer.scss */
footer ul:last-child {
  margin-right: 30px;
}

@media only screen and (max-width: 52em) {
  /* line 4, ../../../app/stylesheets/converge-ui/media.scss */
  header {
    height: 8em;
  }
  /* line 7, ../../../app/stylesheets/converge-ui/media.scss */
  header h1 {
    text-indent: 1em;
  }
  /* line 8, ../../../app/stylesheets/converge-ui/media.scss */
  header article {
    padding-left: 0em;
  }
  /* line 11, ../../../app/stylesheets/converge-ui/media.scss */
  header article section:last-child {
    padding-right: 0.25em;
  }
  /* line 14, ../../../app/stylesheets/converge-ui/media.scss */
  header article section:last-child a {
    margin-right: 0em;
  }
  /* line 17, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav {
    margin-top: 4em;
    width: 100%;
  }
  /* line 22, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li {
    width: 20%;
    padding: 0em;
  }
  /* line 26, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li:nth-child(1) {
    width: 16%;
  }
  /* line 27, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li:nth-child(2) {
    width: 29%;
  }
  /* line 28, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li:nth-child(3) {
    width: 15%;
  }
  /* line 29, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li:nth-child(4) {
    width: 20%;
  }
  /* line 30, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li:nth-child(5) {
    width: 20%;
  }
  /* line 31, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li:last-child ul {
    margin-left: -6.5em !important;
  }
  /* line 32, ../../../app/stylesheets/converge-ui/media.scss */
  header #appnav ul li a {
    padding-left: .5em;
    padding-right: .5em;
  }
}
@media only screen and (max-width: 49em) {
  /* line 41, ../../../app/stylesheets/converge-ui/media.scss */
  body > header h1 {
    text-indent: 0em;
  }
}
@media only screen and (max-width: 44em) {
  /* line 44, ../../../app/stylesheets/converge-ui/media.scss */
  header nav#appnav {
    min-width: 38em !important;
    white-space: nowrap;
  }
}
