/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* this needs to work for converge-ui */
/* line 12, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
[class$="_icon_grey"],
[class$="_icon_black"],
[class*="-icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url('/images/converge-ui/icons/action-icons.png?1341942516');
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

/* line 24, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.search_icon_white {
  background-position: 0 0;
}

/* line 25, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.edit_icon_black {
  background-position: -16px -16px;
}

/* line 26, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.x_icon_grey {
  background-position: -32px 0px;
}

/* line 27, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.x_icon_black {
  background-position: -32px -16px;
}

/* line 28, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.add_icon_black {
  background-position: -48px -16px;
}

/* line 29, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gears_icon_black {
  background-position: -64px -16px;
}

/* line 30, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gears_icon_grey {
  background-position: -64px 0px;
}

/* line 31, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.lock_icon_grey {
  background-position: -96px 0px;
}

/* line 32, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.lock_icon_black {
  background-position: -96px -16px;
}

/* line 33, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.circle-x_icon_black {
  background-position: -160px -16px;
}

/* line 34, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.circle-x_icon_grey {
  background-position: -160px 0px;
}

/* line 35, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.play_icon_black {
  background-position: -176px -16px;
}

/* line 36, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.play_icon_grey {
  background-position: -176px 0;
}

/* line 37, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details_icon_grey {
  background-position: -256px 0px;
}

/* line 38, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details_icon_black {
  background-position: -256px -16px;
}

/* line 39, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.comp_icon_black {
  background-position: -320px -16px;
}

/* line 40, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.help-tip_icon_grey {
  background-position: -336px 0px;
}

/* line 41, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.help-tip_icon_black {
  background-position: -336px -16px;
}

/* line 42, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.warning_icon_triangle {
  background-position: -384px -16px;
}

/* line 43, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.error_icon_black {
  background-position: -384px -16px;
}

/* line 44, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.plus_icon_black {
  background-position: -400px -16px;
}

/* line 45, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.bug_icon_black {
  background-position: -416px -16px;
}

/* line 46, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.shield_icon_black {
  background-position: -432px -16px;
}

/* line 47, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.check_icon_black {
  background-position: -448px -16px;
}

/* line 48, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.clock_icon_black {
  background-position: -464px -16px;
}

/* line 49, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gear_icon {
  background-position: -480px 0px;
}

/* line 50, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gear_icon-dark {
  background-position: -480px -16px;
}

/* line 51, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.download_icon_black {
  background-position: -513px 0px;
}

/* line 52, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.download_icon_grey {
  background-position: -513px -16px;
}

/* line 53, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.down_arrow-icon-grey {
  background-position: -529px 0px;
}

/* line 54, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.down_arrow-icon-black {
  background-position: -529px -16px;
}

/* line 55, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.right_arrow-icon-grey {
  background-position: -544px 0px;
}

/* line 56, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.right_arrow-icon-black {
  background-position: -544px -16px;
}

/* line 57, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.package_icon_grey {
  background-position: -560px 0px;
}

/* line 58, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.package_icon_black {
  background-position: -560px -16px;
}

/* line 59, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.erratum_icon_grey {
  background-position: -576px 0px;
}

/* line 60, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.erratum_icon_black {
  background-position: -576px -16px;
}

/* line 61, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.system_group_icon_grey {
  background-position: -590px 0px;
}

/* line 62, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.system_group_icon_black {
  background-position: -590px -16px;
}

/* line 63, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.collapse-icon-grey {
  background-position: -606px 0px;
}

/* line 64, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.collapse-icon-black {
  background-position: -606px -16px;
}

/* line 65, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.favorites-icon-white {
  background-position: -622px 0px;
}

/* line 66, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.favorites-icon-blue {
  background-position: -622px -16px;
}

/* line 67, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.dot-icon-grey {
  background-position: -639px 0px;
}

/* line 68, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.dot-icon-black {
  background-position: -639px -16px;
}

/* line 69, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.left_arrow-icon-grey {
  background-position: -654px 0px;
}

/* line 70, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.left_arrow-icon-black {
  background-position: -654px -16px;
}

/* line 71, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.add_env-icon-grey {
  background-position: -671px 0px;
}

/* line 72, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.add_env-icon-black {
  background-position: -671px -16px;
}

/* line 124, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.errata_icon, .security_icon, .enhancement_icon, .bugzilla_icon, .details-icon, .details-icon-hover, .details-icon-nohover, .gears_icon {
  margin-left: 6px;
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 0px;
}

/* line 131, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.security_icon {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -432px -16px no-repeat;
}

/* line 135, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.enhancement_icon {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -400px -16px no-repeat;
}

/* line 139, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.bugzilla_icon {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -416px -16px no-repeat;
}

/* line 143, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details-icon {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -256px 0px no-repeat;
  float: right;
}
/* line 147, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details-icon:hover {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -256px -16px no-repeat;
}

/* line 149, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details-icon-hover {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -256px -16px no-repeat;
}

/* line 153, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details-icon-nohover {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -256px 0px no-repeat;
}

/* line 158, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gears_icon {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -64px -16px no-repeat;
}
/* line 161, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gears_icon:hover {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -64px 0px no-repeat;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
@font-face {
  font-family: 'Overpass';
  src: local("Overpass"), url('/fonts/overpass_regular-web.eot?#iefix') format("eot"), url('/fonts/overpass_regular-web.woff') format("woff"), url('/fonts/overpass_regular-web.ttf') format("truetype"), url('/fonts/overpass_regular-web.svg#webfontLTZe4IYH') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass-bold';
  src: local("Overpass Bold"), local("OverpassBold"), url('/fonts/overpass_bold-web.eot?#iefix') format("eot"), url('/fonts/overpass_bold-web.woff') format("woff"), url('/fonts/overpass_bold-web.ttf') format("truetype"), url('/fonts/overpass_bold-web.svg#webfontzAU82Ltw') format("svg");
  font-weight: bold;
  font-style: normal;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans"), local("LiberationSans"), local("Liberation-Sans"), url('/fonts/LiberationSans-Regular-webfont.eot?#iefix') format("eot"), url('/fonts/LiberationSans-Regular-webfont.woff') format("woff"), url('/fonts/LiberationSans-Regular-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-Regular-webfont.svg#webfontLfr8h6FA') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans Italic"), local("LiberationSansItalic"), local("Liberation-Sans-Italic"), url('/fonts/LiberationSans-Italic-webfont.woff') format("woff"), url('/fonts/LiberationSans-Italic-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-Italic-webfont.svg#webfont8TmwkzPJ') format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans Bold"), local("LiberationSansBold"), local("Liberation-Sans-Bold"), url('/fonts/LiberationSans-Bold-webfont.woff') format("woff"), url('/fonts/LiberationSans-Bold-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-Bold-webfont.svg#webfontHyWb8e07') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans Bold Italic"), local("LiberationSansBoldItalic"), local("Liberation-Sans-Bold-Italic"), url('/fonts/LiberationSans-BoldItalic-webfont.woff') format("woff"), url('/fonts/LiberationSans-BoldItalic-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-BoldItalic-webfont.svg#webfont8uGO27Bu') format("svg");
  font-weight: bold;
  font-style: italic;
}

/* line 5, ../../../app/stylesheets/converge-ui/components/_text.scss */
body {
  font: 12px/1.5 "Liberation Sans", sans-serif;
  color: #a1a1a1;
}

/* line 10, ../../../app/stylesheets/converge-ui/components/_text.scss */
h1 {
  font-size: 180%;
  text-transform: uppercase;
}

/* line 14, ../../../app/stylesheets/converge-ui/components/_text.scss */
h2 {
  font-size: 170%;
}

/* line 15, ../../../app/stylesheets/converge-ui/components/_text.scss */
h3 {
  font-size: 160%;
}

/* line 16, ../../../app/stylesheets/converge-ui/components/_text.scss */
h4 {
  font-size: 150%;
}

/* line 17, ../../../app/stylesheets/converge-ui/components/_text.scss */
h5 {
  font-size: 140%;
}

/* line 18, ../../../app/stylesheets/converge-ui/components/_text.scss */
h1, h2, h3, h4, h5 {
  color: #939292;
  font-family: "Overpass-bold", Interstate-bold, sans-serif;
  font-weight: bold;
  word-wrap: break-word;
}

/* line 24, ../../../app/stylesheets/converge-ui/components/_text.scss */
li {
  margin-left: 0;
}

/* line 27, ../../../app/stylesheets/converge-ui/components/_text.scss */
fieldset {
  margin-bottom: 10px;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* line 4, ../../../app/stylesheets/converge-ui/components/_header.scss */
.centered {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

/* line 11, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009dcc), color-stop(50%, #009dcc), color-stop(100%, #006f8f));
  background: -webkit-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -moz-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -o-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -ms-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  height: 85px;
  border-top: 4px solid #01536d;
  border-bottom: 1px solid rgba(11, 15, 16, 0.55);
  position: relative;
  font-family: "Overpass", Interstate, sans-serif;
}
/* line 19, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header:after {
  content: "";
  background: #d9d9d9;
  border-top: 1px solid rgba(205, 205, 208, 0.4);
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -6px;
  z-index: 0;
}
/* line 30, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header h1 {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: 15px;
  margin: 0;
  font-size: inherit;
  text-indent: -5555px;
}
/* line 40, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header .logo {
  background: url('/images/embed/logo.png?1341789941') no-repeat 0 0 transparent;
  text-indent: -5555px;
  width: 170px;
  height: 30px;
  bottom: 25px;
  left: 15px;
  position: absolute;
  display: block;
}
/* line 51, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #loading {
  display: none;
  position: absolute;
  bottom: 27px;
  z-index: 100;
  height: 22px;
  width: 22px;
  padding: 0;
  background: url('/images/converge-ui/icons/spinner_head.gif?1341942516') no-repeat 0 0 transparent;
}
/* line 62, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #appnav {
  border: 1px solid rgba(11, 15, 16, 0.55);
  border-bottom: none;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -khtml-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  white-space: nowrap;
  margin: 0 auto;
  z-index: 2;
  float: left;
}
/* line 71, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #appnav ul {
  position: relative;
  overflow: auto;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -khtml-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid rgba(205, 205, 208, 0.4);
  border-bottom: none;
  outline: 0 none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009dcc), color-stop(50%, #009dcc), color-stop(100%, #006f8f));
  background: -webkit-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -moz-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -o-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -ms-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
}
/* line 80, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #appnav ul li {
  display: block;
  float: left;
  position: relative;
  outline: 0 none;
}
/* line 86, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #appnav ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-weight: bold;
  color: #f1f1f1;
  padding: 0 13px;
  font-size: 13px;
  background-color: rgba(25, 25, 30, 0.4);
  height: 28px;
  line-height: 28px;
  border-right: 3px solid rgba(205, 205, 208, 0.4);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding;
  -ms-background-clip: padding;
  -khtml-background-clip: padding;
  background-clip: padding;
  outline: 0 none;
}
/* line 105, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #appnav ul li a.selected {
  color: #505050;
  position: relative;
  outline: 0 none;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #ebebeb), color-stop(100%, #d9d9d9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #ebebeb 50%, #d9d9d9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 );
  /* IE6-9 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
/* line 111, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #appnav ul li a.selected:hover {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #ebebeb), color-stop(100%, #d9d9d9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #ebebeb 50%, #d9d9d9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 );
  /* IE6-9 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  color: #37373E;
}
/* line 117, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #appnav ul li a:hover {
  outline: 0 none;
  background: rgba(25, 25, 30, 0.15);
  color: #f1f1f1;
}
/* line 124, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #appnav ul li:first-child > a {
  outline: 0 none;
  -moz-border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
  -o-border-radius: 3px 0 0 0;
  -ms-border-radius: 3px 0 0 0;
  -khtml-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
/* line 129, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #appnav ul li:last-child > a {
  -moz-border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
  -o-border-radius: 3px 0 0 0;
  -ms-border-radius: 3px 0 0 0;
  -khtml-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  border-right: none;
}
/* line 137, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #nav-container {
  display: block;
  position: absolute;
  bottom: -1px;
  left: 35%;
  z-index: 1;
  height: 2.5em;
  padding: 5px 6px 0 6px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 148, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #widget-container {
  min-width: 225px;
  position: relative;
  top: 22px;
  float: right;
  margin-right: 15px;
}
/* line 155, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #widget-container a {
  color: #FFF;
}
/* line 157, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #widget-container ul {
  float: left;
}
/* line 161, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #widget-container ul li ul {
  display: none;
  position: absolute;
  top: 16px;
  z-index: 99;
  left: 0px;
  background-color: #0a6684;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  min-width: 4.2em;
  padding: 2px 12px;
  text-align: left;
}
/* line 174, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #widget-container ul li .arrow_icon_menu {
  height: 11px;
  width: 13px;
  background: url('/images/converge-ui/icons/arrow_icon.png?1341942516') no-repeat 0 0;
  float: right;
  margin: 4px 0 0 0;
}
/* line 181, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header #widget-container ul li .arrow_icon_menu:hover {
  background: url('/images/converge-ui/icons/arrow_icon.png?1341942516') no-repeat 0 0;
  background-position: 0 -13px;
}
/* line 190, ../../../app/stylesheets/converge-ui/components/_header.scss */
header#header .header-widget {
  background-color: rgba(25, 25, 30, 0.4);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 11px;
  color: #FFF;
  text-align: center;
  margin-right: 8px;
  padding: 2px 6px;
  text-decoration: none;
  float: right;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* line 4, ../../../app/stylesheets/converge-ui/components/_content.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../../../app/stylesheets/converge-ui/components/_content.scss */
body {
  background-color: #d9d9d9;
}
/* line 8, ../../../app/stylesheets/converge-ui/components/_content.scss */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/* line 17, ../../../app/stylesheets/converge-ui/components/_content.scss */
body, html {
  height: 100%;
  font-family: "Liberation Sans", sans-serif;
  font-size: 12px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5;
}

/* line 29, ../../../app/stylesheets/converge-ui/components/_content.scss */
html {
  /*forcing scrl*/
  height: 100%;
  margin-bottom: 1px !important;
  overflow-y: scroll;
}

/* line 35, ../../../app/stylesheets/converge-ui/components/_content.scss */
#wrapper {
  min-height: 100%;
}

/* line 39, ../../../app/stylesheets/converge-ui/components/_content.scss */
#maincontent {
  overflow: auto;
  padding-bottom: 65px;
}
/* line 43, ../../../app/stylesheets/converge-ui/components/_content.scss */
#maincontent section.maincontent {
  background-color: #FFF;
  min-height: 20em;
  margin: 0 auto 5px;
  width: 960px;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
}
/* line 50, ../../../app/stylesheets/converge-ui/components/_content.scss */
#maincontent section.maincontent h1 {
  color: transparent;
  padding-top: 3em;
  color: #ddd;
  text-align: center;
  font-weight: normal;
  text-transform: capitalize;
}

/* microclearfix on all areas */
/* line 63, ../../../app/stylesheets/converge-ui/components/_content.scss */
section:before, section:after, article:before, article:after {
  content: "";
  display: table;
}

/* line 68, ../../../app/stylesheets/converge-ui/components/_content.scss */
article:after, section:after {
  clear: both;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* line 4, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer {
  min-height: 55px;
  background: #ebebeb;
  border-top: 1px solid #f2f2f2;
  clear: both;
  position: relative;
  margin-top: -56px;
  /* negative value of footer height */
  height: 55px;
}
/* line 13, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer span {
  width: 74px;
  position: absolute;
  left: 30px;
  bottom: 16px;
}
/* line 20, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer p.copyright {
  position: relative;
  bottom: -16px;
  text-align: center;
}
/* line 26, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer ul {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 16px;
}
/* line 32, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer ul li {
  margin-right: 20px;
  float: left;
}
/* line 36, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer ul li a {
  font-size: 11px;
  color: #50505a;
}
/* line 42, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer ul:last-child {
  margin-right: 30px;
}
/* line 47, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer .versioning {
  position: relative;
  bottom: -18px;
  text-align: center;
}

/* line 5, ../../../app/stylesheets/converge-example.scss */
.maincontent ul {
  list-style: circle;
  padding: 20px 40px;
}
/* line 9, ../../../app/stylesheets/converge-example.scss */
.maincontent ul li {
  display: list-item;
  margin-top: 10px;
  font-size: 14px;
  font-family: "Overpass", Interstate, sans-serif;
}
/* line 15, ../../../app/stylesheets/converge-example.scss */
.maincontent ul li a, .maincontent ul li a:visited, .maincontent ul li a:link, .maincontent ul li a:active {
  color: #1682a5;
  text-decoration: none;
}
