/* line 17, ../../../bundle/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../bundle/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../bundle/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../bundle/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../bundle/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../bundle/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../bundle/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../bundle/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../bundle/ruby/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Responsive
*****************/
/*****************
* Elements - Global
*****************/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/*********************************
*  Palette Colors
**********************************/
/*proposed colour palette*/
/*generic default tone for non interactive elements*/
/*favorite greys for warm interactive elements*/
/* Red Hat toners */
/*Red Hat Official*/
/* Red Hat Apps  - Web Extended */
/*orange (the letter o)*/
/*green*/
/* red */
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* ie9 support */
/* this needs to work for converge-ui */
/* line 10, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
[class*="_icon_grey"],
[class*="_icon_black"],
[class*="_icon-"],
[class*="_icon"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url('/images/converge-ui/icons/action-icons.png?1347638458');
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

/* line 22, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.search_icon-black {
  background-position: 1px -16px;
}

/* line 23, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.edit_icon-black {
  background-position: -16px -16px;
}

/* line 24, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.x_icon-black {
  background-position: -33px -16px;
}

/* line 25, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.add_icon-black {
  background-position: -48px -16px;
}

/* line 26, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gears_icon-black {
  background-position: -63px -16px;
}

/* line 27, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.unknown_icon-black {
  background-position: -80px -16px;
}

/* line 28, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.lock_icon-black {
  background-position: -97px -16px;
}

/* line 29, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.unlock_icon-black {
  background-position: -112px -17px;
}

/* line 30, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.progress_gear_icon-black {
  background-position: -128px -16px;
}

/* line 31, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.discs_icon-black {
  background-position: -144px -16px;
}

/* line 32, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.circle_x_icon-black {
  background-position: -160px -16px;
}

/* line 33, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.play_icon-black {
  background-position: -176px -16px;
}

/* line 34, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.stop_icon-black {
  background-position: -192px -16px;
}

/* line 35, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.camera_icon-black {
  background-position: -208px -16px;
}

/* line 36, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.key_icon-black {
  background-position: -224px -16px;
}

/* line 37, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.circle_plus_icon-black {
  background-position: -240px -16px;
}

/* line 38, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details_icon-black {
  background-position: -257px -16px;
}

/* line 39, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.refresh_icon-black {
  background-position: -272px -16px;
}

/* line 40, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.power_icon-black {
  background-position: -288px -16px;
}

/* line 41, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.terminal_icon-black {
  background-position: -304px -16px;
}

/* line 42, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.computer_icon-black {
  background-position: -320px -16px;
}

/* line 43, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.help_tip_icon-black {
  background-position: -336px -16px;
}

/* line 44, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.machine_icon-black {
  background-position: -352px -16px;
}

/* line 45, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.machine_outline_icon-black {
  background-position: -368px -16px;
}

/* line 46, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.warning_icon-black {
  background-position: -384px -16px;
}

/* line 47, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.plus_box_icon-black {
  background-position: -400px -16px;
}

/* line 48, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.bug_icon-black {
  background-position: -416px -16px;
}

/* line 49, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.shield_icon-black {
  background-position: -432px -16px;
}

/* line 50, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.check_icon-black {
  background-position: -448px -16px;
}

/* line 51, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.clock_icon-black {
  background-position: -464px -16px;
}

/* line 52, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gear_menu_icon-black {
  background-position: -480px -16px;
}

/* line 53, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.download_icon-black {
  background-position: -512px -16px;
}

/* line 54, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.down_arrow_icon-black {
  background-position: -528px -16px;
}

/* line 55, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.right_arrow_icon-black {
  background-position: -544px -16px;
}

/* line 56, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.package_icon-black {
  background-position: -560px -16px;
}

/* line 57, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.errata_icon-black {
  background-position: -576px -16px;
}

/* line 58, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.system_group_icon-black {
  background-position: -592px -16px;
}

/* line 59, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.collapse_icon-black {
  background-position: -608px -16px;
}

/* line 60, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.favorites_icon-black {
  background-position: -624px -16px;
}

/* line 61, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.dot_icon-black {
  background-position: -640px -16px;
}

/* line 62, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.left_arrow_icon-black {
  background-position: -656px -16px;
}

/* line 63, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.selector_icon-black {
  background-position: -672px -16px;
}

/* line 64, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.validation_icon-black {
  background-position: -688px -16px;
}

/* line 67, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.search_icon-grey {
  background-position: 1px 0;
}

/* line 68, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.edit_icon-grey {
  background-position: -16px 0;
}

/* line 69, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.x_icon-grey {
  background-position: -33px 0;
}

/* line 70, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.add_icon-grey {
  background-position: -48px 0;
}

/* line 71, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gears_icon-grey {
  background-position: -63px 0;
}

/* line 72, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.unknown_icon-grey {
  background-position: -80px 0;
}

/* line 73, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.lock_icon-grey {
  background-position: -97px 0;
}

/* line 74, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.unlock_icon-grey {
  background-position: -112px 0;
}

/* line 75, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.progress_gear_icon-grey {
  background-position: -128px 0;
}

/* line 76, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.discs_icon-grey {
  background-position: -144px 0;
}

/* line 77, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.circle_x_icon-grey {
  background-position: -160px 0;
}

/* line 78, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.play_icon-grey {
  background-position: -176px 0;
}

/* line 79, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.stop_icon-grey {
  background-position: -192px 0;
}

/* line 80, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.camera_icon-grey {
  background-position: -208px 0;
}

/* line 81, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.key_icon-grey {
  background-position: -224px 0;
}

/* line 82, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.circle_plus_icon-grey {
  background-position: -240px 0;
}

/* line 83, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details_icon-grey {
  background-position: -257px 0;
}

/* line 84, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.refresh_icon-grey {
  background-position: -272px 0;
}

/* line 85, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.power_icon-grey {
  background-position: -288px 0;
}

/* line 86, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.terminal_icon-grey {
  background-position: -304px 0;
}

/* line 87, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.computer_icon-grey {
  background-position: -320px 0;
}

/* line 88, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.help_tip_icon-grey {
  background-position: -336px 0;
}

/* line 89, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.machine_icon-grey {
  background-position: -352px 0;
}

/* line 90, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.machine_outline_icon-grey {
  background-position: -368px 0;
}

/* line 91, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.warning_icon-grey {
  background-position: -384px 0;
}

/* line 92, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.plus_box_icon-grey {
  background-position: -400px 0;
}

/* line 93, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.bug_icon-grey {
  background-position: -416px 0;
}

/* line 94, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.shield_icon-grey {
  background-position: -432px 0;
}

/* line 95, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.check_icon-grey {
  background-position: -448px 0;
}

/* line 96, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.clock_icon-grey {
  background-position: -464px 0;
}

/* line 97, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gear_menu_icon-grey {
  background-position: -480px 0;
}

/* line 98, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.download_icon-grey {
  background-position: -512px 0;
}

/* line 99, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.down_arrow_icon-grey {
  background-position: -528px 0;
}

/* line 100, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.right_arrow_icon-grey {
  background-position: -544px 0;
}

/* line 101, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.package_icon-grey {
  background-position: -560px 0;
}

/* line 102, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.errata_icon-grey {
  background-position: -576px 0;
}

/* line 103, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.system_group_icon-grey {
  background-position: -592px 0;
}

/* line 104, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.collapse_icon-grey {
  background-position: -608px 0;
}

/* line 105, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.favorites_icon-grey {
  background-position: -624px 0;
}

/* line 106, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.dot_icon-grey {
  background-position: -640px 0;
}

/* line 107, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.left_arrow_icon-grey {
  background-position: -656px 0;
}

/* line 108, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.selector_icon-grey {
  background-position: -672px 0;
}

/* line 109, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.validation_icon-grey {
  background-position: -688px 0;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Responsive
*****************/
/*****************
* Elements - Global
*****************/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/*********************************
*  Palette Colors
**********************************/
/*proposed colour palette*/
/*generic default tone for non interactive elements*/
/*favorite greys for warm interactive elements*/
/* Red Hat toners */
/*Red Hat Official*/
/* Red Hat Apps  - Web Extended */
/*orange (the letter o)*/
/*green*/
/* red */
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* ie9 support */
/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Responsive
*****************/
/*****************
* Elements - Global
*****************/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/*********************************
*  Palette Colors
**********************************/
/*proposed colour palette*/
/*generic default tone for non interactive elements*/
/*favorite greys for warm interactive elements*/
/* Red Hat toners */
/*Red Hat Official*/
/* Red Hat Apps  - Web Extended */
/*orange (the letter o)*/
/*green*/
/* red */
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* ie9 support */
@font-face {
  font-family: 'Overpass';
  src: local("Overpass"), url('/fonts/overpass_regular-web.eot?#iefix') format("eot"), url('/fonts/overpass_regular-web.woff') format("woff"), url('/fonts/overpass_regular-web.ttf') format("truetype"), url('/fonts/overpass_regular-web.svg#webfontLTZe4IYH') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: local("Overpass Bold"), local("OverpassBold"), url('/fonts/overpass_bold-web.eot?#iefix') format("eot"), url('/fonts/overpass_bold-web.woff') format("woff"), url('/fonts/overpass_bold-web.ttf') format("truetype"), url('/fonts/overpass_bold-web.svg#webfontzAU82Ltw') format("svg");
  font-weight: bold;
  font-style: normal;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Responsive
*****************/
/*****************
* Elements - Global
*****************/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/*********************************
*  Palette Colors
**********************************/
/*proposed colour palette*/
/*generic default tone for non interactive elements*/
/*favorite greys for warm interactive elements*/
/* Red Hat toners */
/*Red Hat Official*/
/* Red Hat Apps  - Web Extended */
/*orange (the letter o)*/
/*green*/
/* red */
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* ie9 support */
@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans"), local("LiberationSans"), local("Liberation-Sans"), url('/fonts/LiberationSans-Regular-webfont.eot?#iefix') format("eot"), url('/fonts/LiberationSans-Regular-webfont.woff') format("woff"), url('/fonts/LiberationSans-Regular-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-Regular-webfont.svg#webfontLfr8h6FA') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans Italic"), local("LiberationSansItalic"), local("Liberation-Sans-Italic"), url('/fonts/LiberationSans-Italic-webfont.woff') format("woff"), url('/fonts/LiberationSans-Italic-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-Italic-webfont.svg#webfont8TmwkzPJ') format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans Bold"), local("LiberationSansBold"), local("Liberation-Sans-Bold"), url('/fonts/LiberationSans-Bold-webfont.woff') format("woff"), url('/fonts/LiberationSans-Bold-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-Bold-webfont.svg#webfontHyWb8e07') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans Bold Italic"), local("LiberationSansBoldItalic"), local("Liberation-Sans-Bold-Italic"), url('/fonts/LiberationSans-BoldItalic-webfont.woff') format("woff"), url('/fonts/LiberationSans-BoldItalic-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-BoldItalic-webfont.svg#webfont8uGO27Bu') format("svg");
  font-weight: bold;
  font-style: italic;
}

/* line 5, ../../../app/stylesheets/converge-ui/components/_text.scss */
body {
  font: 12px/1.5 "Liberation Sans", sans-serif;
  color: #1a1a1a;
}

/* line 10, ../../../app/stylesheets/converge-ui/components/_text.scss */
h1 {
  font-size: 180%;
  text-transform: uppercase;
}

/* line 14, ../../../app/stylesheets/converge-ui/components/_text.scss */
h2 {
  font-size: 170%;
}

/* line 15, ../../../app/stylesheets/converge-ui/components/_text.scss */
h3 {
  font-size: 160%;
}

/* line 16, ../../../app/stylesheets/converge-ui/components/_text.scss */
h4 {
  font-size: 150%;
}

/* line 17, ../../../app/stylesheets/converge-ui/components/_text.scss */
h5 {
  font-size: 140%;
}

/* line 18, ../../../app/stylesheets/converge-ui/components/_text.scss */
h1, h2, h3, h4, h5 {
  color: #939292;
  font-family: "Overpass", Interstate, sans-serif;
  font-weight: bold;
  word-wrap: break-word;
}

/* line 24, ../../../app/stylesheets/converge-ui/components/_text.scss */
li {
  margin-left: 0;
}

/* line 27, ../../../app/stylesheets/converge-ui/components/_text.scss */
fieldset {
  margin-bottom: 10px;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Responsive
*****************/
/*****************
* Elements - Global
*****************/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/*********************************
*  Palette Colors
**********************************/
/*proposed colour palette*/
/*generic default tone for non interactive elements*/
/*favorite greys for warm interactive elements*/
/* Red Hat toners */
/*Red Hat Official*/
/* Red Hat Apps  - Web Extended */
/*orange (the letter o)*/
/*green*/
/* red */
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* ie9 support */
/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Responsive
*****************/
/*****************
* Elements - Global
*****************/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/*********************************
*  Palette Colors
**********************************/
/*proposed colour palette*/
/*generic default tone for non interactive elements*/
/*favorite greys for warm interactive elements*/
/* Red Hat toners */
/*Red Hat Official*/
/* Red Hat Apps  - Web Extended */
/*orange (the letter o)*/
/*green*/
/* red */
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* ie9 support */
/* line 5, ../../../app/stylesheets/converge-ui/components/_shared.scss */
.noscript-warning {
  color: white;
  background-color: #990000;
  font-family: "Overpass", Interstate, sans-serif;
  font-weight: bold;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 101;
  text-align: center;
  font-size: 120%;
  padding: 5px 0px 5px 0px;
}

/* line 4, ../../../app/stylesheets/converge-ui/components/_login.scss */
html, body {
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWZlZmVmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(50%, #efefef), color-stop(100%, #efefef));
  background: -webkit-linear-gradient(top, #efefef 0%, #efefef 50%, #efefef 100%);
  background: -moz-linear-gradient(top, #efefef 0%, #efefef 50%, #efefef 100%);
  background: -o-linear-gradient(top, #efefef 0%, #efefef 50%, #efefef 100%);
  background: -ms-linear-gradient(top, #efefef 0%, #efefef 50%, #efefef 100%);
  background: linear-gradient(top, #efefef 0%, #efefef 50%, #efefef 100%);
  font-family: "Overpass", Interstate, sans-serif;
  background-color/*\**/: #008db8 \9;
}

/* line 13, ../../../app/stylesheets/converge-ui/components/_login.scss */
#wrapper {
  min-height: 100%;
  padding-bottom: -56;
}

/* line 18, ../../../app/stylesheets/converge-ui/components/_login.scss */
article {
  position: relative;
  top: 185px;
}
/* line 22, ../../../app/stylesheets/converge-ui/components/_login.scss */
article a, article a:visited {
  cursor: hand;
  cursor: pointer;
  color: #1ca5d2;
  text-decoration: none;
}
/* line 28, ../../../app/stylesheets/converge-ui/components/_login.scss */
article a:hover, article a:focus, article a:visited:hover, article a:visited:focus {
  color: #3cbbe5;
  text-decoration: underline;
}
/* line 32, ../../../app/stylesheets/converge-ui/components/_login.scss */
article a:active, article a:visited:active {
  color: #105e78;
}
/* line 37, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container {
  position: relative;
  width: 500px;
  height: 265px;
  margin: 0 auto;
  padding: 10px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9InJnYmEoMjU1LCAyNTUsIDI1NSwgMCkiLz48c3RvcCBvZmZzZXQ9IjEyMCUiIHN0b3AtY29sb3I9IiNkOWQ5ZDkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, rgba(255, 255, 255, 0)), color-stop(120%, #d9d9d9));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  -moz-box-shadow: #acacac 0px 12px 15px -8px;
  -webkit-box-shadow: #acacac 0px 12px 15px -8px;
  -o-box-shadow: #acacac 0px 12px 15px -8px;
  box-shadow: #acacac 0px 12px 15px -8px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}
/* line 46, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container aside {
  width: 140px;
  min-height: 265px;
  float: left;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWRjYyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDA5ZGNjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA2ZjhmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009dcc), color-stop(50%, #009dcc), color-stop(100%, #006f8f));
  background: -webkit-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -moz-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -o-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -ms-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  -moz-border-radius: 7px 0 0 7px;
  -webkit-border-radius: 7px 0 0 7px;
  -o-border-radius: 7px 0 0 7px;
  -ms-border-radius: 7px 0 0 7px;
  -khtml-border-radius: 7px 0 0 7px;
  border-radius: 7px 0 0 7px;
}
/* line 53, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container aside img {
  margin-top: 88.333px;
}
/* line 58, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section {
  width: 360px;
  position: relative;
  overflow: hidden;
}
/* line 63, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card_container {
  width: 720px;
  position: absolute;
  top: 0;
  left: -360px;
  z-index: -1;
}
/* line 71, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card {
  position: relative;
  min-height: 255px;
  height: 255px;
  width: 300px;
  background: #FFF;
  padding: 0 30px;
  padding-top: 10px;
  -moz-border-radius: 0 7px 7px 0;
  -webkit-border-radius: 0 7px 7px 0;
  -o-border-radius: 0 7px 7px 0;
  -ms-border-radius: 0 7px 7px 0;
  -khtml-border-radius: 0 7px 7px 0;
  border-radius: 0 7px 7px 0;
  -moz-box-shadow: inset -15px -15px 30px -7px #d9d9d9, inset 0px -15px 130px #d9d9d9;
  -webkit-box-shadow: inset -15px -15px 30px -7px #d9d9d9, inset 0px -15px 130px #d9d9d9;
  -o-box-shadow: inset -15px -15px 30px -7px #d9d9d9, inset 0px -15px 130px #d9d9d9;
  box-shadow: inset -15px -15px 30px -7px #d9d9d9, inset 0px -15px 130px #d9d9d9;
}
/* line 82, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .spinner {
  margin-top: 1.8em;
  left: 4.5em;
  display: none;
}
/* line 87, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .return_link_container {
  position: absolute;
  left: 30px;
  bottom: 37px;
}
/* line 92, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .return_link_container a {
  margin-top: 15px;
  float: right;
  height: 20px;
  width: 20px;
  border: 2px solid #B5B5B5;
  border-radius: 30px;
  background: #DEDEDE;
}
/* line 101, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .return_link_container a:hover {
  border: 2px solid #0194e8;
  -moz-box-shadow: 0px 0px 4px #0194e8;
  -webkit-box-shadow: 0px 0px 4px #0194e8;
  -o-box-shadow: 0px 0px 4px #0194e8;
  box-shadow: 0px 0px 4px #0194e8;
}
/* line 107, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .return_link_container .left_arrow-icon-black {
  background-position: -654px -15px;
}
/* line 109, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #login_form {
  position: absolute;
  top: 52px;
}
/* line 114, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #username_recovery_form {
  position: absolute;
  top: 110px;
}
/* line 118, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #username_recovery_form .secondary_actions {
  margin-bottom: 0px;
}
/* line 119, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #username_recovery_form .button {
  margin-top: 20px;
}
/* line 122, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #password_recovery_form {
  position: absolute;
  top: 85px;
}
/* line 126, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #password_recovery_form .secondary_actions {
  margin-bottom: 0px;
}
/* line 129, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card h2 {
  margin-left: 10px;
  display: inline-block;
  margin-top: 27px;
  font-size: 12px;
  color: #50505a;
}
/* line 137, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card p {
  text-align: justify;
  height: 30px;
  font-family: "Overpass", Interstate, sans-serif;
  color: #3c3c3c;
  font-size: 10px;
  margin-left: 10px;
}
/* line 148, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card fieldset.primary label {
  display: block;
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 12px;
  color: #cccccc;
  text-align: left;
  font-weight: bold;
}
/* line 158, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card fieldset.primary input {
  width: 290px;
  padding: 6px 0px 6px 10px;
  font-size: 14px;
  color: #50505a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #CCC;
  height: 21px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 168, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card fieldset.primary input:focus {
  -moz-box-shadow: 0px 0px 4px #0194e8;
  -webkit-box-shadow: 0px 0px 4px #0194e8;
  -o-box-shadow: 0px 0px 4px #0194e8;
  box-shadow: 0px 0px 4px #0194e8;
  border: 1px solid #0194e8;
}
/* line 176, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #password_conflict {
  color: red;
}
/* line 180, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .group {
  position: relative;
  height: 50px;
}
/* line 184, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .group.secondary_actions {
  margin-bottom: 15px;
  height: 18px;
}
/* line 189, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .group span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  color: #50505a;
}
/* line 196, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .group span a {
  color: #0194e8;
}
/* line 200, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #progress-indicator {
  margin: 4px;
  display: none;
}
/* line 205, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card a {
  display: inline-block;
  outline: 0;
  text-align: left;
  margin: 0;
}
/* line 211, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card a:hover {
  background-position-y: -16px;
}
/* line 216, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .button {
  margin-bottom: 0px;
}
/* line 223, ../../../app/stylesheets/converge-ui/components/_login.scss */
article #save_password {
  margin-top: 18px;
}
/* line 225, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button {
  font-family: "Liberation Sans", sans-serif;
  /* for some reason ff3.6 won't inherit from body */
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: pointer;
  height: 30px;
  padding: 0 21px;
  margin: 0;
  margin-bottom: 8px;
  position: absolute;
  right: 0;
  color: #50505a;
  border: 1px solid #cccccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIvPjxzdG9wIG9mZnNldD0iMzMuMzMzJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIvPjxzdG9wIG9mZnNldD0iNjYuNjY3JSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(33.333%, #f0f0f0), color-stop(66.667%, #e5e5e5), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f0f0f0, #e5e5e5, #e9e9e9);
  background-image: -moz-linear-gradient(top, #f9f9f9, #f0f0f0, #e5e5e5, #e9e9e9);
  background-image: -o-linear-gradient(top, #f9f9f9, #f0f0f0, #e5e5e5, #e9e9e9);
  background-image: -ms-linear-gradient(top, #f9f9f9, #f0f0f0, #e5e5e5, #e9e9e9);
  background-image: linear-gradient(top, #f9f9f9, #f0f0f0, #e5e5e5, #e9e9e9);
}
/* line 244, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button .nomargin {
  margin: 0;
}
/* line 247, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button:hover {
  background: -moz-linear-gradient(top, white, white, #cfcfcf);
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.6, white), to(#cfcfcf));
  -moz-box-shadow: 0, 1px, 2px, rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0, 1px, 2px, rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0, 1px, 2px, rgba(0, 0, 0, 0.5);
  box-shadow: 0, 1px, 2px, rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: black;
}
/* line 254, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button:active {
  background: -moz-linear-gradient(top, #c2c3c0, #e4e5e4);
  background: -webkit-gradient(linear, left top, left bottom, from(#c2c3c0), to(#e4e5e4));
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-decoration: none;
}
/* line 260, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button:focus {
  text-decoration: none;
  color: #000;
  border-width: 2px;
  padding: 3px 11px;
}
/* line 266, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button.dialogbutton {
  float: right;
  margin-left: 3px;
  margin: 40px 4px 4px;
}
/* line 271, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button.formbutton {
  display: inline-block;
  margin-left: 3px;
  margin: 40px 4px 4px;
}
/* line 276, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button.actionlink {
  margin: 40px 0 0;
}
/* line 279, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button.disabled, article .button[disabled] {
  cursor: default;
  background: transparent;
  opacity: 0.4;
}
/* line 284, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button.disabled:hover, article .button[disabled]:hover {
  background: transparent;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 289, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button.iconbutton {
  display: inline-block;
}
/* line 292, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button.tiny {
  padding: 4px;
  margin: 0;
}
/* line 295, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button.tiny:active, article .button.tiny:focus {
  margin: 0;
  padding: 3px;
}

/* line 303, ../../../app/stylesheets/converge-ui/components/_login.scss */
.invisible {
  visibility: hidden;
}

/* line 307, ../../../app/stylesheets/converge-ui/components/_login.scss */
.hidden {
  display: none;
}

@media \0screen {
  /* line 314, ../../../app/stylesheets/converge-ui/components/_login.scss */
  .container {
    border: 8px solid #007699;
  }
}
/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Responsive
*****************/
/*****************
* Elements - Global
*****************/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/*********************************
*  Palette Colors
**********************************/
/*proposed colour palette*/
/*generic default tone for non interactive elements*/
/*favorite greys for warm interactive elements*/
/* Red Hat toners */
/*Red Hat Official*/
/* Red Hat Apps  - Web Extended */
/*orange (the letter o)*/
/*green*/
/* red */
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* ie9 support */
/* line 4, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer {
  min-height: 55px;
  background: #ebebeb;
  border-top: 1px solid #d9d9d9;
  clear: both;
  position: relative;
  margin-top: -56px;
  /* negative value of footer height */
  height: 55px;
}
/* line 13, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer span {
  width: 74px;
  position: absolute;
  left: 30px;
  bottom: 16px;
}
/* line 20, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer p.copyright {
  position: relative;
  bottom: -16px;
  text-align: center;
}
/* line 26, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer ul {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 16px;
}
/* line 32, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer ul li {
  margin-right: 20px;
  float: left;
}
/* line 36, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer ul li a {
  font-size: 11px;
  color: #50505a;
}
/* line 42, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer ul:last-child {
  margin-right: 30px;
}
/* line 47, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer .versioning {
  position: relative;
  bottom: -18px;
  text-align: center;
}
