/* line 17, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Primary Katello ID */
/* all selected items */
/* default links */
/* unfocused tabs */
/* list items prelight state */
/* line 6, ../../../app/stylesheets/converge-ui/text.scss */
body {
  font: 12px/1.5 "Liberation Sans", sans-serif;
  color: #1a1a1a;
}

/* line 11, ../../../app/stylesheets/converge-ui/text.scss */
h1 {
  font-size: 180%;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 15, ../../../app/stylesheets/converge-ui/text.scss */
h2 {
  font-size: 170%;
}

/* line 16, ../../../app/stylesheets/converge-ui/text.scss */
h3 {
  font-size: 160%;
}

/* line 17, ../../../app/stylesheets/converge-ui/text.scss */
h4 {
  font-size: 150%;
}

/* line 18, ../../../app/stylesheets/converge-ui/text.scss */
h5 {
  font-size: 140%;
}

/* line 19, ../../../app/stylesheets/converge-ui/text.scss */
h1, h2, h3, h4, h5 {
  color: #939292;
  font-family: "Overpass", Interstate, sans-serif;
  font-weight: bold;
  word-wrap: break-word;
}

/* line 25, ../../../app/stylesheets/converge-ui/text.scss */
li {
  margin-left: 0;
}

/* line 28, ../../../app/stylesheets/converge-ui/text.scss */
fieldset {
  margin-bottom: 10px;
}

/* Primary Katello ID */
/* all selected items */
/* default links */
/* unfocused tabs */
/* list items prelight state */
/* line 1, ../../../app/stylesheets/converge-ui/utils.scss */
.fr {
  float: right;
}

/* line 5, ../../../app/stylesheets/converge-ui/utils.scss */
.fl {
  float: left;
}

/* line 5, ../../../app/stylesheets/converge-ui/_sprites.scss */
[class$="_icon-grey"],
[class$="_icon-black"],
[class*="_icon"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../../images/converge-ui/icons/action-icons.png");
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

/* line 17, ../../../app/stylesheets/converge-ui/_sprites.scss */
.search_icon-white {
  background-position: 0 0;
}

/* line 18, ../../../app/stylesheets/converge-ui/_sprites.scss */
.edit_icon-black {
  background-position: -16px -16px;
}

/* line 19, ../../../app/stylesheets/converge-ui/_sprites.scss */
.x_icon-grey {
  background-position: -32px 0px;
}

/* line 20, ../../../app/stylesheets/converge-ui/_sprites.scss */
.x_icon-black {
  background-position: -32px -16px;
}

/* line 21, ../../../app/stylesheets/converge-ui/_sprites.scss */
.add_icon-black {
  background-position: -48px -16px;
}

/* line 22, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gears_icon-black {
  background-position: -64px -16px;
}

/* line 23, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gears_icon-grey {
  background-position: -64px 0px;
}

/* line 24, ../../../app/stylesheets/converge-ui/_sprites.scss */
.lock_icon-grey {
  background-position: -96px 0px;
}

/* line 25, ../../../app/stylesheets/converge-ui/_sprites.scss */
.lock_icon-black {
  background-position: -96px -16px;
}

/* line 26, ../../../app/stylesheets/converge-ui/_sprites.scss */
.circle-x_icon-black {
  background-position: -160px -16px;
}

/* line 27, ../../../app/stylesheets/converge-ui/_sprites.scss */
.circle-x_icon-grey {
  background-position: -160px 0px;
}

/* line 28, ../../../app/stylesheets/converge-ui/_sprites.scss */
.play_icon-black {
  background-position: -176px -16px;
}

/* line 29, ../../../app/stylesheets/converge-ui/_sprites.scss */
.play_icon-grey {
  background-position: -176px 0;
}

/* line 30, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details_icon-grey {
  background-position: -256px 0px;
}

/* line 31, ../../../app/stylesheets/converge-ui/_sprites.scss */
.details_icon-black {
  background-position: -256px -16px;
}

/* line 32, ../../../app/stylesheets/converge-ui/_sprites.scss */
.comp_icon-black {
  background-position: -320px -16px;
}

/* line 33, ../../../app/stylesheets/converge-ui/_sprites.scss */
.help-tip_icon-grey {
  background-position: -336px 0px;
}

/* line 34, ../../../app/stylesheets/converge-ui/_sprites.scss */
.help-tip_icon-black {
  background-position: -336px -16px;
}

/* line 35, ../../../app/stylesheets/converge-ui/_sprites.scss */
.warning_icon-triangle {
  background-position: -384px -16px;
}

/* line 36, ../../../app/stylesheets/converge-ui/_sprites.scss */
.error_icon-black {
  background-position: -384px -16px;
}

/* line 37, ../../../app/stylesheets/converge-ui/_sprites.scss */
.plus_icon-black {
  background-position: -400px -16px;
}

/* line 38, ../../../app/stylesheets/converge-ui/_sprites.scss */
.bug_icon-black {
  background-position: -416px -16px;
}

/* line 39, ../../../app/stylesheets/converge-ui/_sprites.scss */
.shield_icon-black {
  background-position: -432px -16px;
}

/* line 40, ../../../app/stylesheets/converge-ui/_sprites.scss */
.check_icon-black {
  background-position: -448px -16px;
}

/* line 41, ../../../app/stylesheets/converge-ui/_sprites.scss */
.clock_icon-black {
  background-position: -464px -16px;
}

/* line 42, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gear_icon {
  background-position: -480px 0px;
}

/* line 43, ../../../app/stylesheets/converge-ui/_sprites.scss */
.gear_icon-dark {
  background-position: -480px -16px;
}

/* line 44, ../../../app/stylesheets/converge-ui/_sprites.scss */
.download_icon-black {
  background-position: -513px 0px;
}

/* line 45, ../../../app/stylesheets/converge-ui/_sprites.scss */
.download_icon-grey {
  background-position: -513px -16px;
}

/* line 46, ../../../app/stylesheets/converge-ui/_sprites.scss */
.package_icon-grey {
  background-position: -560px 0px;
}

/* line 47, ../../../app/stylesheets/converge-ui/_sprites.scss */
.package_icon-black {
  background-position: -560px -16px;
}

/* line 48, ../../../app/stylesheets/converge-ui/_sprites.scss */
.erratum_icon-grey {
  background-position: -576px 0px;
}

/* line 49, ../../../app/stylesheets/converge-ui/_sprites.scss */
.erratum_icon-black {
  background-position: -576px -16px;
}

/* line 50, ../../../app/stylesheets/converge-ui/_sprites.scss */
.system_group_icon-grey {
  background-position: -590px 0px;
}

/* line 51, ../../../app/stylesheets/converge-ui/_sprites.scss */
.system_group_icon-black {
  background-position: -590px -16px;
}

/* line 18, ../../../app/stylesheets/converge-ui/login.scss */
html, body {
  width: 100%;
  height: 100%;
  background: #009dcc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009dcc), color-stop(50%, #009dcc), color-stop(100%, #006f8f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  /* IE10+ */
  background: linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009dcc', endColorstr='#006f8f',GradientType=0 );
  /* IE6-9 */
}

/* line 24, ../../../app/stylesheets/converge-ui/login.scss */
.floater {
  float: left;
  height: 50%;
  margin-bottom: -280px;
}

/* line 31, ../../../app/stylesheets/converge-ui/login.scss */
article .container {
  clear: left;
  position: relative;
  width: 540px;
  min-height: 280px;
  margin: 0 auto;
  background: black;
  box-shadow: 0px 0px 30px #000;
  border-radius: 7px;
  overflow: auto;
}
/* line 42, ../../../app/stylesheets/converge-ui/login.scss */
article .container aside {
  float: left;
  width: 135px;
  min-height: 280px;
  background: black;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
/* line 51, ../../../app/stylesheets/converge-ui/login.scss */
article .container section {
  float: left;
  width: 405px;
  min-height: 280px;
  background: #d9d9d9;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #ebebeb), color-stop(100%, #d9d9d9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebeb 50%, #d9d9d9 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #ebebeb 50%, #d9d9d9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 );
  /* IE6-9 */
}
/* line 60, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content {
  margin: 10px 18px;
  left: 143px;
}
/* line 65, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content fieldset.primary {
  margin-top: 10px;
}
/* line 68, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content fieldset.primary label {
  display: block;
  margin-bottom: 2px;
  margin-left: 6px;
  font-size: 14px;
  color: #666;
}
/* line 76, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content fieldset.primary input {
  width: 333px;
  padding: 8px 0px 8px 16px;
  font-size: 18px;
  color: #000;
  border-radius: 8px;
  outline: none;
  border: 1px solid #CCC;
}
/* line 85, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content fieldset.primary input:focus {
  box-shadow: 0px 0px 10px orange;
}
/* line 92, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content div.group {
  margin-bottom: 10px;
}
/* line 96, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content div.group.left {
  display: inline;
  float: left;
}
/* line 101, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content div.group.right {
  display: inline;
  float: right;
  text-align: right;
}
/* line 107, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content div.group.bottom {
  position: absolute;
  bottom: 18px;
}
/* line 112, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content div.submit {
  position: absolute;
  right: 18px;
  width: 110px;
  bottom: 10px;
}
/* line 119, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content #progress-indicator {
  margin: 4px;
  display: none;
}
/* line 124, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content a {
  display: inline-block;
  outline: 0;
  text-align: left;
  margin: 0 10px 0 0;
}
/* line 130, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content a:hover {
  background-position-y: -16px;
}
/* line 135, ../../../app/stylesheets/converge-ui/login.scss */
article .container section .content #login-btn {
  float: right;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 144, ../../../app/stylesheets/converge-ui/login.scss */
article .button {
  height: 26px;
  border: 1px solid #999;
  font-size: 13px;
  padding-left: 14px;
  padding-right: 14px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #cccccc 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, white 0%, #cccccc 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%, #cccccc 100%);
  /* W3C */
  cursor: pointer;
}

/* line 158, ../../../app/stylesheets/converge-ui/login.scss */
.divider {
  margin: 15px 0;
  height: 2px;
  background: #CCC;
  clear: both;
}
