/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* this needs to work for converge-ui */
/* line 12, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
[class$="_icon_grey"],
[class$="_icon_black"],
[class*="-icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url('/images/converge-ui/icons/action-icons.png?1341942516');
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

/* line 24, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.search_icon_white {
  background-position: 0 0;
}

/* line 25, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.edit_icon_black {
  background-position: -16px -16px;
}

/* line 26, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.x_icon_grey {
  background-position: -32px 0px;
}

/* line 27, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.x_icon_black {
  background-position: -32px -16px;
}

/* line 28, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.add_icon_black {
  background-position: -48px -16px;
}

/* line 29, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gears_icon_black {
  background-position: -64px -16px;
}

/* line 30, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gears_icon_grey {
  background-position: -64px 0px;
}

/* line 31, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.lock_icon_grey {
  background-position: -96px 0px;
}

/* line 32, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.lock_icon_black {
  background-position: -96px -16px;
}

/* line 33, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.circle-x_icon_black {
  background-position: -160px -16px;
}

/* line 34, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.circle-x_icon_grey {
  background-position: -160px 0px;
}

/* line 35, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.play_icon_black {
  background-position: -176px -16px;
}

/* line 36, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.play_icon_grey {
  background-position: -176px 0;
}

/* line 37, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details_icon_grey {
  background-position: -256px 0px;
}

/* line 38, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details_icon_black {
  background-position: -256px -16px;
}

/* line 39, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.comp_icon_black {
  background-position: -320px -16px;
}

/* line 40, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.help-tip_icon_grey {
  background-position: -336px 0px;
}

/* line 41, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.help-tip_icon_black {
  background-position: -336px -16px;
}

/* line 42, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.warning_icon_triangle {
  background-position: -384px -16px;
}

/* line 43, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.error_icon_black {
  background-position: -384px -16px;
}

/* line 44, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.plus_icon_black {
  background-position: -400px -16px;
}

/* line 45, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.bug_icon_black {
  background-position: -416px -16px;
}

/* line 46, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.shield_icon_black {
  background-position: -432px -16px;
}

/* line 47, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.check_icon_black {
  background-position: -448px -16px;
}

/* line 48, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.clock_icon_black {
  background-position: -464px -16px;
}

/* line 49, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gear_icon {
  background-position: -480px 0px;
}

/* line 50, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gear_icon-dark {
  background-position: -480px -16px;
}

/* line 51, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.download_icon_black {
  background-position: -513px 0px;
}

/* line 52, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.download_icon_grey {
  background-position: -513px -16px;
}

/* line 53, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.down_arrow-icon-grey {
  background-position: -529px 0px;
}

/* line 54, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.down_arrow-icon-black {
  background-position: -529px -16px;
}

/* line 55, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.right_arrow-icon-grey {
  background-position: -544px 0px;
}

/* line 56, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.right_arrow-icon-black {
  background-position: -544px -16px;
}

/* line 57, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.package_icon_grey {
  background-position: -560px 0px;
}

/* line 58, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.package_icon_black {
  background-position: -560px -16px;
}

/* line 59, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.erratum_icon_grey {
  background-position: -576px 0px;
}

/* line 60, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.erratum_icon_black {
  background-position: -576px -16px;
}

/* line 61, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.system_group_icon_grey {
  background-position: -590px 0px;
}

/* line 62, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.system_group_icon_black {
  background-position: -590px -16px;
}

/* line 63, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.collapse-icon-grey {
  background-position: -606px 0px;
}

/* line 64, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.collapse-icon-black {
  background-position: -606px -16px;
}

/* line 65, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.favorites-icon-white {
  background-position: -622px 0px;
}

/* line 66, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.favorites-icon-blue {
  background-position: -622px -16px;
}

/* line 67, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.dot-icon-grey {
  background-position: -639px 0px;
}

/* line 68, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.dot-icon-black {
  background-position: -639px -16px;
}

/* line 69, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.left_arrow-icon-grey {
  background-position: -654px 0px;
}

/* line 70, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.left_arrow-icon-black {
  background-position: -654px -16px;
}

/* line 71, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.add_env-icon-grey {
  background-position: -671px 0px;
}

/* line 72, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.add_env-icon-black {
  background-position: -671px -16px;
}

/* line 124, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.errata_icon, .security_icon, .enhancement_icon, .bugzilla_icon, .details-icon, .details-icon-hover, .details-icon-nohover, .gears_icon {
  margin-left: 6px;
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 0px;
}

/* line 131, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.security_icon {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -432px -16px no-repeat;
}

/* line 135, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.enhancement_icon {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -400px -16px no-repeat;
}

/* line 139, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.bugzilla_icon {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -416px -16px no-repeat;
}

/* line 143, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details-icon {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -256px 0px no-repeat;
  float: right;
}
/* line 147, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details-icon:hover {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -256px -16px no-repeat;
}

/* line 149, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details-icon-hover {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -256px -16px no-repeat;
}

/* line 153, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.details-icon-nohover {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -256px 0px no-repeat;
}

/* line 158, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gears_icon {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -64px -16px no-repeat;
}
/* line 161, ../../../app/stylesheets/converge-ui/components/_sprites.scss */
.gears_icon:hover {
  background: url('/images/converge-ui/icons/action-icons.png?1341942516') -64px 0px no-repeat;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
@font-face {
  font-family: 'Overpass';
  src: local("Overpass"), url('/fonts/overpass_regular-web.eot?#iefix') format("eot"), url('/fonts/overpass_regular-web.woff') format("woff"), url('/fonts/overpass_regular-web.ttf') format("truetype"), url('/fonts/overpass_regular-web.svg#webfontLTZe4IYH') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass-bold';
  src: local("Overpass Bold"), local("OverpassBold"), url('/fonts/overpass_bold-web.eot?#iefix') format("eot"), url('/fonts/overpass_bold-web.woff') format("woff"), url('/fonts/overpass_bold-web.ttf') format("truetype"), url('/fonts/overpass_bold-web.svg#webfontzAU82Ltw') format("svg");
  font-weight: bold;
  font-style: normal;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans"), local("LiberationSans"), local("Liberation-Sans"), url('/fonts/LiberationSans-Regular-webfont.eot?#iefix') format("eot"), url('/fonts/LiberationSans-Regular-webfont.woff') format("woff"), url('/fonts/LiberationSans-Regular-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-Regular-webfont.svg#webfontLfr8h6FA') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans Italic"), local("LiberationSansItalic"), local("Liberation-Sans-Italic"), url('/fonts/LiberationSans-Italic-webfont.woff') format("woff"), url('/fonts/LiberationSans-Italic-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-Italic-webfont.svg#webfont8TmwkzPJ') format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans Bold"), local("LiberationSansBold"), local("Liberation-Sans-Bold"), url('/fonts/LiberationSans-Bold-webfont.woff') format("woff"), url('/fonts/LiberationSans-Bold-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-Bold-webfont.svg#webfontHyWb8e07') format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Liberation Sans';
  src: local("Liberation Sans Bold Italic"), local("LiberationSansBoldItalic"), local("Liberation-Sans-Bold-Italic"), url('/fonts/LiberationSans-BoldItalic-webfont.woff') format("woff"), url('/fonts/LiberationSans-BoldItalic-webfont.ttf') format("truetype"), url('/fonts/LiberationSans-BoldItalic-webfont.svg#webfont8uGO27Bu') format("svg");
  font-weight: bold;
  font-style: italic;
}

/* line 5, ../../../app/stylesheets/converge-ui/components/_text.scss */
body {
  font: 12px/1.5 "Liberation Sans", sans-serif;
  color: #a1a1a1;
}

/* line 10, ../../../app/stylesheets/converge-ui/components/_text.scss */
h1 {
  font-size: 180%;
  text-transform: uppercase;
}

/* line 14, ../../../app/stylesheets/converge-ui/components/_text.scss */
h2 {
  font-size: 170%;
}

/* line 15, ../../../app/stylesheets/converge-ui/components/_text.scss */
h3 {
  font-size: 160%;
}

/* line 16, ../../../app/stylesheets/converge-ui/components/_text.scss */
h4 {
  font-size: 150%;
}

/* line 17, ../../../app/stylesheets/converge-ui/components/_text.scss */
h5 {
  font-size: 140%;
}

/* line 18, ../../../app/stylesheets/converge-ui/components/_text.scss */
h1, h2, h3, h4, h5 {
  color: #939292;
  font-family: "Overpass-bold", Interstate-bold, sans-serif;
  font-weight: bold;
  word-wrap: break-word;
}

/* line 24, ../../../app/stylesheets/converge-ui/components/_text.scss */
li {
  margin-left: 0;
}

/* line 27, ../../../app/stylesheets/converge-ui/components/_text.scss */
fieldset {
  margin-bottom: 10px;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* line 4, ../../../app/stylesheets/converge-ui/components/_login.scss */
html, body {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  background: linear-gradient(top, #ffffff 0%, #ffffff 50%, #ffffff 100%);
  font-family: "Overpass", Interstate, sans-serif;
}

/* line 11, ../../../app/stylesheets/converge-ui/components/_login.scss */
#wrapper {
  min-height: 100%;
  padding-bottom: -56;
}

/* line 16, ../../../app/stylesheets/converge-ui/components/_login.scss */
article {
  position: relative;
  top: 237px;
}
/* line 20, ../../../app/stylesheets/converge-ui/components/_login.scss */
article a, article a:visited {
  cursor: hand;
  cursor: pointer;
  color: #1ca5d2;
  text-decoration: none;
}
/* line 26, ../../../app/stylesheets/converge-ui/components/_login.scss */
article a:hover, article a:focus, article a:visited:hover, article a:visited:focus {
  color: #3cbbe5;
  text-decoration: underline;
}
/* line 30, ../../../app/stylesheets/converge-ui/components/_login.scss */
article a:active, article a:visited:active {
  color: #105e78;
}
/* line 35, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container {
  position: relative;
  width: 500px;
  height: 275px;
  margin: 0 auto;
  padding: 10px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, rgba(255, 255, 255, 0)), color-stop(120%, #d9d9d9));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  background: linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  -moz-box-shadow: #d9d9d9 0px 12px 15px -8px;
  -webkit-box-shadow: #d9d9d9 0px 12px 15px -8px;
  -o-box-shadow: #d9d9d9 0px 12px 15px -8px;
  box-shadow: #d9d9d9 0px 12px 15px -8px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}
/* line 45, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container aside {
  width: 140px;
  min-height: 275px;
  float: left;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009dcc), color-stop(50%, #009dcc), color-stop(100%, #006f8f));
  background: -webkit-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -moz-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -o-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: -ms-linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  background: linear-gradient(top, #009dcc 0%, #009dcc 50%, #006f8f 100%);
  -moz-border-radius: 7px 0 0 7px;
  -webkit-border-radius: 7px 0 0 7px;
  -o-border-radius: 7px 0 0 7px;
  -ms-border-radius: 7px 0 0 7px;
  -khtml-border-radius: 7px 0 0 7px;
  border-radius: 7px 0 0 7px;
}
/* line 52, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container aside img {
  margin-top: 91.667px;
}
/* line 57, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section {
  width: 360px;
  position: relative;
  overflow: hidden;
}
/* line 62, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card_container {
  width: 720px;
  position: absolute;
  top: 0;
  left: -360px;
  z-index: -1;
}
/* line 70, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section #password_recovery_container h2 {
  margin-top: 27px;
}
/* line 72, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card {
  position: relative;
  min-height: 275px;
  width: 300px;
  background: #FFF;
  padding: 0 30px;
  -moz-border-radius: 0 7px 7px 0;
  -webkit-border-radius: 0 7px 7px 0;
  -o-border-radius: 0 7px 7px 0;
  -ms-border-radius: 0 7px 7px 0;
  -khtml-border-radius: 0 7px 7px 0;
  border-radius: 0 7px 7px 0;
  -moz-box-shadow: inset -15px -15px 30px -7px #d9d9d9, inset 0px -15px 130px #d9d9d9;
  -webkit-box-shadow: inset -15px -15px 30px -7px #d9d9d9, inset 0px -15px 130px #d9d9d9;
  -o-box-shadow: inset -15px -15px 30px -7px #d9d9d9, inset 0px -15px 130px #d9d9d9;
  box-shadow: inset -15px -15px 30px -7px #d9d9d9, inset 0px -15px 130px #d9d9d9;
}
/* line 82, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .spinner {
  margin-top: 1.8em;
  left: 4.5em;
  display: none;
}
/* line 87, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .return_link_container {
  height: 42px;
  position: absolute;
  right: 30px;
}
/* line 92, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .return_link_container a {
  margin-top: 15px;
  float: right;
  height: 20px;
  width: 20px;
  border: 2px solid #B5B5B5;
  border-radius: 30px;
  background: #DEDEDE;
}
/* line 101, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .return_link_container a:hover {
  border: 2px solid #0194e8;
  -moz-box-shadow: 0px 0px 4px #0194e8;
  -webkit-box-shadow: 0px 0px 4px #0194e8;
  -o-box-shadow: 0px 0px 4px #0194e8;
  box-shadow: 0px 0px 4px #0194e8;
}
/* line 107, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .return_link_container .left_arrow-icon-black {
  background-position: -654px -15px;
}
/* line 109, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #login_form {
  position: absolute;
  top: 52px;
}
/* line 114, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #username_recovery_form {
  position: absolute;
  top: 130px;
}
/* line 118, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #username_recovery_form .secondary_actions {
  margin-bottom: 0px;
}
/* line 121, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #password_recovery_form {
  position: absolute;
  top: 85px;
}
/* line 125, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #password_recovery_form .secondary_actions {
  margin-bottom: 0px;
}
/* line 128, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card h2 {
  margin-left: 10px;
  display: inline-block;
  margin-top: 42px;
  font-size: 12px;
  font-family: "Overpass", Interstate, sans-serif;
  color: #50505a;
}
/* line 137, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card p {
  text-align: justify;
  height: 30px;
  font-family: "Overpass", Interstate, sans-serif;
  color: #999999;
  font-size: 10px;
  margin-left: 10px;
}
/* line 148, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card fieldset.primary label {
  display: block;
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #cccccc;
  text-align: left;
}
/* line 158, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card fieldset.primary input {
  width: 290px;
  padding: 6px 0px 6px 10px;
  font-size: 14px;
  color: #50505a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #CCC;
  height: 21px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 168, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card fieldset.primary input:focus {
  -moz-box-shadow: 0px 0px 4px #0194e8;
  -webkit-box-shadow: 0px 0px 4px #0194e8;
  -o-box-shadow: 0px 0px 4px #0194e8;
  box-shadow: 0px 0px 4px #0194e8;
  border: 1px solid #0194e8;
}
/* line 176, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #password_conflict {
  color: red;
}
/* line 178, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .group {
  position: relative;
  height: 50px;
}
/* line 182, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .group.secondary_actions {
  margin-bottom: 15px;
  height: 18px;
}
/* line 187, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .group span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  color: #50505a;
}
/* line 194, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .group span a {
  color: #0194e8;
}
/* line 198, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card #progress-indicator {
  margin: 4px;
  display: none;
}
/* line 203, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card a {
  display: inline-block;
  outline: 0;
  text-align: left;
  margin: 0;
}
/* line 209, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card a:hover {
  background-position-y: -16px;
}
/* line 214, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .container section .card .button {
  margin-bottom: 0px;
}
/* line 221, ../../../app/stylesheets/converge-ui/components/_login.scss */
article .button {
  height: 30px;
  border: 1px solid #cccccc;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #cccccc 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, white 0%, #cccccc 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #ffffff 0%, #cccccc 100%);
  /* W3C */
  padding: 0 21px;
  margin: 0;
  margin-bottom: 8px;
  position: absolute;
  right: 0;
}

/* line 239, ../../../app/stylesheets/converge-ui/components/_login.scss */
.invisible {
  visibility: hidden;
}

/* line 243, ../../../app/stylesheets/converge-ui/components/_login.scss */
.hidden {
  display: none;
}

/* line 247, ../../../app/stylesheets/converge-ui/components/_login.scss */
input[type='submit'], button, .button {
  font-family: "Liberation Sans", sans-serif;
  /* for some reason ff3.6 won't inherit from body */
  font-size: 12px;
  display: inline-block;
  background: -moz-linear-gradient(top, #f9f9f9, #f0f0f0, #e5e5e5, #e9e9e9);
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), color-stop(0.9, #e5e5e5), to(#e9e9e9));
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: pointer;
  min-height: 14px;
  color: #50505a;
}
/* line 258, ../../../app/stylesheets/converge-ui/components/_login.scss */
input[type='submit'] .nomargin, button .nomargin, .button .nomargin {
  margin: 0;
}
/* line 261, ../../../app/stylesheets/converge-ui/components/_login.scss */
input[type='submit']:hover, button:hover, .button:hover {
  background: -moz-linear-gradient(top, white, white, #cfcfcf);
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.6, white), to(#cfcfcf));
  -moz-box-shadow: 0, 1px, 2px, rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0, 1px, 2px, rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0, 1px, 2px, rgba(0, 0, 0, 0.5);
  box-shadow: 0, 1px, 2px, rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: black;
}
/* line 268, ../../../app/stylesheets/converge-ui/components/_login.scss */
input[type='submit']:active, button:active, .button:active {
  background: -moz-linear-gradient(top, #c2c3c0, #e4e5e4);
  background: -webkit-gradient(linear, left top, left bottom, from(#c2c3c0), to(#e4e5e4));
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-decoration: none;
}
/* line 274, ../../../app/stylesheets/converge-ui/components/_login.scss */
input[type='submit']:focus, button:focus, .button:focus {
  text-decoration: none;
  color: #000;
  border-width: 2px;
  padding: 3px 11px;
}
/* line 280, ../../../app/stylesheets/converge-ui/components/_login.scss */
input[type='submit'].dialogbutton, button.dialogbutton, .button.dialogbutton {
  float: right;
  margin-left: 3px;
  margin: 40px 4px 4px;
}
/* line 285, ../../../app/stylesheets/converge-ui/components/_login.scss */
input[type='submit'].formbutton, button.formbutton, .button.formbutton {
  display: inline-block;
  margin-left: 3px;
  margin: 40px 4px 4px;
}
/* line 290, ../../../app/stylesheets/converge-ui/components/_login.scss */
input[type='submit'].actionlink, button.actionlink, .button.actionlink {
  margin: 40px 0 0;
}
/* line 293, ../../../app/stylesheets/converge-ui/components/_login.scss */
input[type='submit'].disabled, input[type='submit'][disabled], button.disabled, button[disabled], .button.disabled, .button[disabled] {
  cursor: default;
  background: transparent;
  opacity: 0.4;
}
/* line 298, ../../../app/stylesheets/converge-ui/components/_login.scss */
input[type='submit'].disabled:hover, input[type='submit'][disabled]:hover, button.disabled:hover, button[disabled]:hover, .button.disabled:hover, .button[disabled]:hover {
  background: transparent;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 303, ../../../app/stylesheets/converge-ui/components/_login.scss */
input[type='submit'].iconbutton, button.iconbutton, .button.iconbutton {
  display: inline-block;
}
/* line 306, ../../../app/stylesheets/converge-ui/components/_login.scss */
input[type='submit'].tiny, button.tiny, .button.tiny {
  padding: 4px;
  margin: 0;
}
/* line 309, ../../../app/stylesheets/converge-ui/components/_login.scss */
input[type='submit'].tiny:active, input[type='submit'].tiny:focus, button.tiny:active, button.tiny:focus, .button.tiny:active, .button.tiny:focus {
  margin: 0;
  padding: 3px;
}

/*
* Font Type Variables
*/
/*
* Component Size Variables
*/
/*****************
* Sign-On Screen
*****************/
/********
* Images
*********/
/*************
* Base Colors
**************/
/* default links */
/* unfocused tabs */
/* list items prelight state */
/**************
* Form Colors
***************/
/****************
*  Header Colors
*****************/
/****************
*  Footer Colors
*****************/
/****************
*  Login Colors
*****************/
/****************************
*  Complex Color Definitions
*****************************/
/* background for header */
/* background for tabs on header */
/*****************
* Switcher Colors
******************/
/* line 4, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer {
  min-height: 55px;
  background: #ebebeb;
  border-top: 1px solid #f2f2f2;
  clear: both;
  position: relative;
  margin-top: -56px;
  /* negative value of footer height */
  height: 55px;
}
/* line 13, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer span {
  width: 74px;
  position: absolute;
  left: 30px;
  bottom: 16px;
}
/* line 20, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer p.copyright {
  position: relative;
  bottom: -16px;
  text-align: center;
}
/* line 26, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer ul {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 16px;
}
/* line 32, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer ul li {
  margin-right: 20px;
  float: left;
}
/* line 36, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer ul li a {
  font-size: 11px;
  color: #50505a;
}
/* line 42, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer ul:last-child {
  margin-right: 30px;
}
/* line 47, ../../../app/stylesheets/converge-ui/components/_footer.scss */
body > footer .versioning {
  position: relative;
  bottom: -18px;
  text-align: center;
}
