= content_for(:stylesheets_block) do
  = stylesheet_link_tag "/stylesheets/compiled/color-palette.css"

= content_for(:content) do
  %section.palette
    %div.rh-blue
    %div.rh-lightblue
    %div.rh-teal
    %div.rh-dark-blue
    %div.rh-lime
    %div.rh-green
    %div.rh-purple
    %div.rh-orange
    %div.rh-cream
    %div.rh-red1
    %div.rh-red2
    %div.rh-red3
    %div.rh-base

    %h2 neutral tone

    %div.tone


    %h2 greys
    %div.g9
    %div.g8
    %div.g7
    %div.g6
    %div.g5
    %div.g4
    %div.g3
    %div.g2
    %div.g1
    %div.g0
    %h2 Web Extended

    %div.o1
    %div.o2
    %div.o3
    %div.o4
    %div.o5
    %div.o6
    %div.o7



    %div.green1
    %div.green2
    %div.green3


    %div.link-light
    %div.link
    %div.link-dark
