%form.form
  .control_group.checkbox.error
    .label
      %label Checkbox
    .input
      .control
        %input{:type => "checkbox", :id => "checkbox_error_input_01"}
        %label.control_label{:for => "checkbox_error_input_01"} Check me
        %span.message Error message
