%form.form
  .control_group.checkbox
    .label
      %label Checkbox
    .input
      .control
        %input{:type => "checkbox", :id => "checkbox_default_input_01"}
        %label.control_label{:for => "checkbox_default_input_01"} Check me