%form.form
  .control_group.checkbox.disabled
    .label
      %label Checkbox
    .input
      .control
        %input{:type => "checkbox", :id => "checkbox_disabled_input_01", :disabled => true}
        %label.control_label{:for => "checkbox_disabled_input_01"} Check me