%form.form
  .control_group.checkbox.warning
    .label
      %label Checkbox
    .input
      .control
        %input{:type => "checkbox", :id => "checkbox_warning_input_01"}
        %label.control_label{:for => "checkbox_warning_input_01"} Check me
        %span.message Warning message
