%form.form
  .control_group.warning
    .label
      %label{:for => "date_warning_input_01"} Date
    .input
      %input{:id => "date_warning_input_01", :type => "date"}
      %span.message Warning message
