%form.form
  .control_group.error
    .label
      %label{:for => "file_default_input_01"} File
    .input
      %input{:id => "file_default_input_01", :type => "file"}
      %span.message Error message
