%form.form.labels_top.messages_bottom
  .control_group
    .label.help
      %label{:for => "layout_narrow_input_01"} First row
    .input
      %input{:type => "text", :id => "layout_narrow_input_01"}
      %span.hint Here is example of hint and how it will behave when changing the layout.

  .control_group
    .label
      %label{:for => "layout_narrow_input_02"} Second row
    .input
      %input{:type => "text", :id => "layout_narrow_input_02"}

  .control_group
    .label
      %label{:for => "layout_narrow_input_03"} Third row
    .input
      %input{:type => "text", :id => "layout_narrow_input_03"}
      %span.hint Here is example of hint and how it will behave when changing the layout.
      %span.note Always visible underline note and its behavior on layout changing. Let's try it!
