%form.form
  .control_group
    .label
      %label{:for => "multiple_select_default_input_01"} First row
    .input
      %select{:id => "multiple_select_default_input_01", :multiple => true}
        %option
          = "Option 1"
        %option
          = "Option 2"
        %option
          = "Option 3"
      %span.hint Here is example of hint and how it will behave when changing the layout.
