%form.form
  .control_group.warning
    .label
      %label{:for => "number_warning_input_01"} Number
    .input
      %input{:id => "number_warning_input_01", :type => "number"}
      %span.message Warning message
