%form.form
  .control_group.error
    .label
      %label{:for => "number_error_input_01"} Number
    .input
      %input{:id => "number_error_input_01", :type => "number"}
      %span.message Error message
