%form.form
  .control_group.readonly
    .label
      %label{:for => "number_readonly_input_01"} Number
    .input
      %input{:id => "number_readonly_input_01", :type => "number", :readonly => true}