%form.form
  .control_group.disabled
    .label
      %label{:for => "range_disabled_input_01"} Range
    .input
      %input{:id => "range_disabled_input_01", :type => "range", :min => 0, :max => 20, :value => 0, :disabled => true}
