%form.form
  .control_group.disabled
    .label
      %label{:for => "single_select_disabled_input_01"} First row
    .input
      %select{:id => "single_select_disabled_input_01", :disabled => true}
        %option
          = "Option 1"
        %option
          = "Option 2"
        %option
          = "Option 3"
      %span.hint Here is example of hint and how it will behave when changing the layout.
