%ul.switcher
  -#%li.selected
  -#  %a{ "href" => "#", "data-component" => "code-tab", "data-format" => "html" }
  -#    HTML
  %li.selected
    %a{ "href" => "#", "data-component" => "code-tab", "data-format" => "haml" }
      Haml
  -#%li
  -#  %a{ "href" => "#", "data-component" => "code-tab", "data-format" => "simple_form" }
  -#    Simple Form