.control_group.disabled
  .label
    %label Multiple-select
  .input
    %select{ :multiple => true, :disabled => true }
      %option
        = "Option 1"
      %option
        = "Option 2"
      %option
        = "Option 3"
