.control_group.error
  .label
    %label Single-select
  .input
    %select
      %option
        = "Option 1"
      %option
        = "Option 2"
      %option
        = "Option 3"
    %span.message Error message