.control_group.disabled
  .label
    %label Single-select
  .input
    %select{ :disabled => true }
      %option
        = "Option 1"
      %option
        = "Option 2"
      %option
        = "Option 3"
