@import "compass/reset";
@import "converge-ui/composites/shell";

.maincontent {
  ul { 
    list-style: circle; 
    padding: 20px 40px; 

    li { 
      display: list-item; 
      margin-top: 10px; 
      font-size: 14px;
      font-family: $headlinefont;

      a, a:visited, a:link, a:active {
        color: $selected-color;
        text-decoration: none;
      }
    }
  }
}
