@import "compass/reset";
@import "converge-ui/composites/shell";
@import "converge-ui/composites/content_elements";
@import "converge-ui/components/chosen";

.maincontent {
  padding: 20px 40px;

  ul { 
    list-style: circle; 

    li { 
      display: list-item; 
      margin-top: 10px; 
      font-size: 14px;
      font-family: $headlinefont;

      a, a:visited, a:link, a:active {
        color: $selected-color;
        text-decoration: none;
      }
    }
  }

  h3 {
    margin: 35px 0 0 0;
  }
}
