= content_for(:content) do
  %ul
    %li
      = link_to "Login Page", user_session_path
    %li
      = link_to "Password Reset", password_reset_path
    %li
      = link_to "Change Password", change_password_path
