= content_for(:content) do
  = render :partial => "alchemy/layouts/change_password_layout",
           :locals => { :edit_password_reset_form_path_string => save_changed_password_path,
                        :login_path_string => new_login_path }
