= content_for(:content) do
  %section.content
    %h1 Login Composite

    %ul.page_nav
      %li
        %a{ "href" => "#preview" }
          = "Preview"

    %section
      %h2#preview.bottom_line Preview

      .example
        %iframe{ :src => src, :style => "width: 95%; height: 65%; margin: 0 auto; display: block;" }
