= content_for(:content) do
  = render :partial => "layouts/converge-ui/login_layout",
           :locals => { :login_form_path_string => user_session_path,
                        :recovery_strings => raw(get_string(:recovery_link) % [link_to(get_string(:username), user_session_path(:card => :username_recovery), :id => "username_link"),
                                                                          link_to(get_string(:password), user_session_path(:card => :password_reset), :id => "password_link")]),
                        :login_path_string => user_session_path,
                        :new_username_recoveries_form_path_string => username_recovery_path,
                        :new_password_resets_form_path_string => password_reset_path }
