@import "compass/reset";
@import "alchemy/composites/shell";
@import "alchemy/composites/content_elements";

.maincontent {
  padding-top: 5px; //because of the top line under header

  ul.main_elements {
    list-style: circle;
    padding: 20px 40px;

    li {
      display: list-item;
      margin-top: 10px;
      font-size: 14px;
      font-family: $headlinefont;

      a, a:visited, a:link, a:active {
        color: $link_color;
        text-decoration: none;
      }
    }
  }

  .content {
    padding: 20px 40px;

    & > h2 {
      margin: 35px 0 0 0;
    }

    & > h3 {
      margin: 35px 0 0 0;
    }
  }
}
